@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.Contracts.Storage.Models
@using ArticleViewModel = Nano35.HttpContext.storage.ArticleViewModel
@using Nano35.Contracts.Storage.Artifacts
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NotificationService NotificationService
@inject HealthService HealthService
@inject NavigationManager NavigationManager


<LoadingContent IsLoaded="_isLoaded">
    <FieldList Title="Информация">
        <FieldListItem Title="Категория">
            <EditableField OnCancel="@(() => CategoryEdit = null)"
                           OnEdit="@(() => CategoryEdit = new UpdateArticleCategoryHttpBody(){Id = Article.Id})"
                           OnSave="@(() => UpdateCategory())">
                <View><p>@Article.Category</p></View>
                <Edit>
                    <RadzenDropDown style="display: flex;"
                                    AllowClear="true"
                                    TValue="Guid"
                                    Data=@(Categories.Select(g => new {g.Id, g.Name}))
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    @bind-Value="CategoryEdit.CategoryId">
                        <Template Context="data">
                            <div style="display: flex; flex-direction: row">
                                <div style="width: 90%;">@(data.Name)</div>
                                <RadzenButton 
                                    Click="@(_ => OpenCategoryDetails(data.Id, data.Name))"
                                    Size="ButtonSize.Small"
                                    Text="🖉"
                                    Style="height: 20px; display: flex; padding-left: revert; padding-right: revert; align-items: center;"/>
                            </div>
                        </Template>
                    </RadzenDropDown>
                </Edit>
            </EditableField>
        </FieldListItem>
        
        <FieldListItem Title="Бренд">
            <EditableField OnCancel="@(() => BrandEdit = null)"
                           OnEdit="@(() => BrandEdit = new UpdateArticleBrandHttpBody() {Id = Article.Id})"
                           OnSave="@(() => UpdateBrand())">
                <View><p>@Article.Brand</p></View>
                <Edit><RadzenTextBox style="display: flex;align-items: center" @bind-Value="BrandEdit.Brand" Placeholder="@Article.Brand"/></Edit>
            </EditableField>
        </FieldListItem>
        
        <FieldListItem Title="Модель">
            <EditableField OnCancel="@(() => ModelEdit = null)"
                           OnEdit="@(() => ModelEdit = new UpdateArticleModelHttpBody(){Id = Article.Id})"
                           OnSave="@(() => UpdateModel())">
                <View><p>@Article.Model</p></View>
                <Edit><RadzenTextBox style="display: flex;align-items: center" @bind-Value="ModelEdit.Model" Placeholder="@Article.Model"/></Edit>
            </EditableField>
        </FieldListItem>
        
        <FieldListItem Title="Информация">
            <EditableField OnCancel="@(() => InfoEdit = null)"
                           OnEdit="@(() => InfoEdit = new UpdateArticleInfoHttpBody(){Id = Article.Id})"
                           OnSave="@(() => UpdateInfo())">
                <View><p>@Article.Info</p></View>
                <Edit><RadzenTextBox style="display: flex;align-items: center" @bind-Value="InfoEdit.Info" Placeholder="@Article.Info"/></Edit>
            </EditableField>
        </FieldListItem>
        
    </FieldList>
        
    <RadzenFieldset Text="Характеристики" Style="width: 60rem">
        <RadzenGrid Data="@(Article.Specs)" EmptyText="Нет указаных характеристик" TItem="SpecHttpContext">
            <Columns>
                <RadzenGridColumn TItem="SpecHttpContext" Property="Key" Title="Характеристика"/>
                <RadzenGridColumn TItem="SpecHttpContext" Property="Value" Title="Значение"/>
            </Columns>
        </RadzenGrid>
    </RadzenFieldset>
</LoadingContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public Guid Id { get; set; }
    private ArticleViewModel Article { get; set; } = new ();
    
    private List<ArticleCategoryViewModel> Categories { get; set; }
    
    private UpdateArticleInfoHttpBody InfoEdit { get; set; }
    private UpdateArticleModelHttpBody ModelEdit { get; set; }
    private UpdateArticleCategoryHttpBody CategoryEdit { get; set; }
    private UpdateArticleBrandHttpBody BrandEdit { get; set; }
    private bool _isLoaded;

    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        Article = (await new HttpGetRequest<GetArticleByIdSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Articles/{Id}").GetAsync()).Data;
        Categories = (await new HttpGetRequest<GetAllArticleCategoriesSuccessHttpResponse>(HttpClient,
            $"{RequestManager.StorageServer}/ArticleCategories?I{await SessionProvider.GetCurrentInstanceId()}&ParentId={Guid.Parse("F50EBC56-3D91-481C-8F61-16E47555B136")}").GetAsync()).Data;
        _isLoaded = true;
    }

    private async Task UpdateCategory()
    {
        await new HttpPatchRequest<UpdateArticleCategoryHttpBody, UpdateArticleCategorySuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Articles/Category").PatchAsync(CategoryEdit);CategoryEdit = null;
        CategoryEdit = null;
    }

    private async Task UpdateBrand()
    {
        await new HttpPatchRequest<UpdateArticleBrandHttpBody, UpdateArticleBrandSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Articles/Brand").PatchAsync(BrandEdit);BrandEdit = null;
        BrandEdit = null;
    }

    private async Task UpdateModel()
    {
        await new HttpPatchRequest<UpdateArticleModelHttpBody, UpdateArticleModelSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Articles/Model").PatchAsync(ModelEdit);ModelEdit = null;
        ModelEdit = null;
    }

    private async Task UpdateInfo()
    {
        await new HttpPatchRequest<UpdateArticleInfoHttpBody, UpdateArticleInfoSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Articles/Info").PatchAsync(InfoEdit);ModelEdit = null;
        InfoEdit = null;
    }
    
    private async Task OpenCategoryDetails(Guid id, string name)
    {
        var item = Categories.First(g => g.Id == id);
        Console.WriteLine(item.Id);
        Console.WriteLine(item.Name);
        var parameters = new ModalParameters();
        parameters.Add(nameof(CategoryDetails.Category), item);
        var modal = Modal.Show<CategoryDetails>($"{name}", parameters);
        await modal.Result;
    }
}
