@using Nano35.WebClient.Services
@using Nano35.Contexts.Http.storage
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject HttpPost PostRequest
@inject NavigationManager NavigationManager

<BoxedContent Width="40">
<LoadingContent IsLoaded="_isLoaded">
    <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <InputField Title="Категория">
            <Controls><ArticlesFormCategory @bind-Value="Model.CategoryId"/></Controls>
            <Validation><ValidationMessage For="@(() => Model.CategoryId)" /></Validation>
        </InputField>
        <InputField Title="Бренд">
            <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Model"/></Controls>
            <Validation><ValidationMessage For="@(() => Model.Brand)" /></Validation>
        </InputField>
        <InputField Title="Модель">
            <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Brand"/></Controls>
            <Validation><ValidationMessage For="@(() => Model.Model)" /></Validation>
        </InputField>
        <ConditionalContent IsLoaded="IsExpandedView">
            <AllowedContent>
                <InputField Title="Описание">
                    <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Info"/></Controls>
                    <Validation><ValidationMessage For="@(() => Model.Info)" /></Validation>
                </InputField>
                <InputField Title="Харрактеристики">
                    <Controls><ArticlesFormSpecification @bind-Value="Model.Specs"/></Controls>
                    <Validation><ValidationMessage For="@(() => Model.Specs)"/></Validation>
                </InputField>
                @foreach (var item in Model.Specs)
                {
                    <li class="list-group-item">@item.Key : @item.Value</li>
                }
            </AllowedContent>
        </ConditionalContent>
        <RadzenButton type="submit" Text="Создать" ButtonStyle="ButtonStyle.Primary" Style="width: 100%" />
        <ConditionalContent IsLoaded="!string.IsNullOrEmpty(Error)">
            <AllowedContent>
                <div class="alert alert-danger mt-3 mb-0">@Error</div>
            </AllowedContent>
        </ConditionalContent>
    </EditForm>
</LoadingContent>
</BoxedContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public bool IsExpandedView { get; set; } = true;
    private CreateArticleHttpBody Model = new();
    private string Error { get; set; } = "";
    private bool _isLoaded;
    
    private async Task HandleValidSubmit()
    {
        _isLoaded = false;
        try
        {
            await PostRequest.InvokeAsync<CreateArticleSuccessHttpResponse, CreateArticleHttpBody>($"Articles", Model,
                resp =>
                {
                    if (resp.IsSuccess()) {}
                    else
                    {
                        Console.WriteLine(resp.Error);
                        NavigationManager.NavigateTo("/instance-view");
                    }
                });
            
            await ModalInstance.CloseAsync(ModalResult.Ok(Model.NewId));
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
        _isLoaded = true;
    }
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        Model.Specs = new List<SpecHttpContext>();
        Model = new CreateArticleHttpBody
        {
            NewId = Guid.NewGuid(),
            InstanceId = await SessionProvider.GetCurrentInstanceId(),
            Specs = new List<SpecHttpContext>()
        };
        _isLoaded = true;
    }
}