@using Nano35.WebClient.Services
@using Nano35.Contexts.Http.storage
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject HttpPost PostRequest
@inject NavigationManager NavigationManager

<BoxedContent Width="40">
<LoadingContent IsLoaded="_isLoaded">
    <EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <InputField Title="Категория*" 
                    Helper="Выберите именную группу">
            <Controls><ArticlesFormCategory @bind-Value="_model.CategoryId"/></Controls>
            <Validation><ValidationMessage For="@(() => _model.CategoryId)" /></Validation>
        </InputField>
        <InputField Title="Бренд*" 
                    Helper="Укажите бренд">
            <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="_model.Model"/></Controls>
            <Validation><ValidationMessage For="@(() => _model.Brand)" /></Validation>
        </InputField>
        <InputField Title="Модель*" 
                    Helper="Укажите модель">
            <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="_model.Brand"/></Controls>
            <Validation><ValidationMessage For="@(() => _model.Model)" /></Validation>
        </InputField>
        <ConditionalContent IsLoaded="IsExpandedView">
            <AllowedContent>
                <InputField Title="Описание" 
                            Helper="Опцианально укажите описание наименования">
                    <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="_model.Info"/></Controls>
                    <Validation><ValidationMessage For="@(() => _model.Info)" /></Validation>
                </InputField>
                <InputField Title="Харрактеристики" 
                            Helper="Опцианально укажите харрактеристику наименования">
                    <Controls><ArticlesFormSpecification @bind-Value="_model.Specs"/></Controls>
                    <Validation><ValidationMessage For="@(() => _model.Specs)"/></Validation>
                </InputField>
                @foreach (var item in _model.Specs)
                {
                    <li class="list-group-item">@item.Key : @item.Value</li>
                }
            </AllowedContent>
        </ConditionalContent>
        <RadzenButton type="submit" Text="Создать" ButtonStyle="ButtonStyle.Primary" Style="width: 100%" />
        <ConditionalContent IsLoaded="!string.IsNullOrEmpty(Error)">
            <AllowedContent><div class="alert alert-danger mt-3 mb-0">@Error</div></AllowedContent>
        </ConditionalContent>
    </EditForm>
</LoadingContent>
</BoxedContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public bool IsExpandedView { get; set; } = true;
    private CreateArticleHttpBody _model = new();
    private string Error { get; set; } = "";
    private bool _isLoaded;
    
    private async Task HandleValidSubmit()
    {
        _isLoaded = false;
        try
        {
            await PostRequest.InvokeAsync<CreateArticleSuccessHttpResponse, CreateArticleHttpBody>(
                $"Articles", _model,
                resp =>
                {
                    if (resp.IsSuccess())
                    {
                        
                    }
                    else
                    {
                        Error = resp.Error;
                    }
                });
            
            await ModalInstance.CloseAsync(ModalResult.Ok(_model.NewId));
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
        _isLoaded = true;
    }
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _model.Specs = new List<SpecHttpContext>();
        _model = new CreateArticleHttpBody
        {
            NewId = Guid.NewGuid(),
            InstanceId = await SessionProvider.GetCurrentInstanceId(),
            Specs = new List<SpecHttpContext>()
        };
        _isLoaded = true;
    }
}