@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@using Blazored.FluentValidation
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NotificationService NotificationService

<div style="margin-top:20px">Номер оприходования:</div>
<b>@Cancellation.Number</b>
<div style="margin-top:20px">Дата:</div>
<b>@Cancellation.Date</b>
<div style="margin-top:20px">Целевое подразделение:</div>
<b>@Cancellation.Unit</b>
<div style="margin-top:20px">Поставщик:</div>
<b>@Cancellation.Client</b>

<RadzenFieldset Text="Оприходуемые товары"
                Style="width: 60rem">
    <RadzenGrid Data="@Details"
                EmptyText="Добавте оприходуемые товары..."
                TItem="CancellationDetailViewModel">
        <Columns>
            <RadzenGridColumn TItem="CancellationDetailViewModel"
                              Property="StorageItem" 
                              Title="Товар" />
            <RadzenGridColumn TItem="CancellationDetailViewModel" 
                              Property="PlaceOnStorage" 
                              Title="Место на складе" />
            <RadzenGridColumn TItem="CancellationDetailViewModel"
                              Property="Count"
                              Title="Количество" />
            <RadzenGridColumn TItem="CancellationDetailViewModel"
                              Property="Price" 
                              Title="Цена" />
            <RadzenGridColumn TItem="CancellationDetailViewModel"
                              Bubble="false"
                              Sortable="false"
                              Filterable="false"
                              Width="250px"
                              TextAlign="TextAlign.Center">
                <Template Context="item">
                    <a href="http://192.168.100.124:5002/StorageItems/Ticket?storageItemId=@item.StorageItemId.ToString()" target="_blank">Этикетка</a>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</RadzenFieldset>

@code
{
    [Parameter] public CancellationViewModel Cancellation { get; set; }
    private List<CancellationDetailViewModel> Details { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Details = (await new HttpGetRequest<GetAllCancellationDetailsSuccessHttpResponse>(HttpClient,
            $"{RequestManager.StorageServer}/Cancellations/{Cancellation.Id}/Details").GetAsync()).Data;
    }
}
