@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.Contracts.Storage.Models
@using ArticleViewModel = Nano35.HttpContext.storage.ArticleViewModel
@using Nano35.Contracts.Storage.Artifacts
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<LoadingContent IsLoaded="_loading">
        <FieldListItem Title="Наследуемая категория">
            <EditableField OnCancel="@(() => ParentEdit = null)"
                           OnEdit="@(() => ParentEdit = new UpdateCategoryParentCategoryHttpBody() {Id = Category.Id})"
                           OnSave="@(() => UpdateParent())">
                <View>
                    <p>@(Categories.FirstOrDefault(f=> f.Id == Category.ParentCategoryId)?.Name)</p></View>
                <Edit>
                    <RadzenDropDown style="display: flex; "
                                    AllowClear="true"
                                    TValue="Guid"
                                    Data=@(Categories.Select(g => new {Id = g.Id, Name = g.Name}))
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    @bind-Value="ParentEdit.ParentCategoryId">
                    </RadzenDropDown>
                </Edit>
            </EditableField>
        </FieldListItem>
        
        <FieldListItem Title="Бренд">
                    <EditableField OnCancel="@(() => NameEdit = null)"
                                   OnEdit="@(() => NameEdit = new UpdateCategoryNameHttpBody() {Id = Category.Id})"
                                   OnSave="@(() => UpdateName())">
                        <View>
                            <p>@Category.Name</p></View>
                        <Edit>
                            <RadzenTextBox style="display: flex;align-items: center"
                                           @bind-Value="NameEdit.Name"
                                           Placeholder="@Category.Name"/>
                        </Edit>
        	</EditableField>
        </FieldListItem>
</LoadingContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    
    [Parameter]public ArticleCategoryViewModel Category { get; set; } = new();
    private List<ArticleCategoryViewModel> Categories { get; set; } = new();
    
    private UpdateCategoryNameHttpBody NameEdit { get; set; }
    private UpdateCategoryParentCategoryHttpBody ParentEdit { get; set; }
    
    private bool _loading = true;

    
    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        Categories = (await new HttpGetRequest<GetAllArticleCategoriesSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/ArticleCategories?InstanceId={await SessionProvider.GetCurrentInstanceId()}").GetAsync()).Data;
        _loading = false;
    }


    private async Task UpdateName()
    {
        _loading = true;
        await new HttpPatchRequest<UpdateCategoryNameHttpBody, UpdateCategoryNameSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Category/Name").PatchAsync(NameEdit);
        NameEdit = null;
        Categories = (await new HttpGetRequest<GetAllArticleCategoriesSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/ArticleCategories?InstanceId={await SessionProvider.GetCurrentInstanceId()}").GetAsync()).Data;
        _loading = false;
    }
    
    private async Task UpdateParent()
    {
        _loading = true;
        await new HttpPatchRequest<UpdateCategoryParentCategoryHttpBody, UpdateCategoryParentCategoryIdSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Category/ParentCategoryId").PatchAsync(ParentEdit);
        ParentEdit = null;
        Categories = (await new HttpGetRequest<GetAllArticleCategoriesSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/ArticleCategories?InstanceId={await SessionProvider.GetCurrentInstanceId()}").GetAsync()).Data;
        _loading = false;
    }
}
