@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.Contracts.Storage.Models
@using ArticleViewModel = Nano35.HttpContext.storage.ArticleViewModel
@using Nano35.Contracts.Storage.Artifacts
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider


@if (_loading)
{<div style="width: 40rem;">
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-Secondary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
 </div>
}
else
{<div style="width: 40rem;">
    <RadzenFieldset Text="Информация"
                 Style="width: 100%;">
     <ul class="list-group" style="width: 100%" >
         <li class="list-group-item" role="alert" style="width: 100%; display: flex;">
             @if (ParentEdit == null)
             {
                 <b style="display: flex;  width: 85%; align-items: center">Наследуемая категория: @Categories.FirstOrDefault(f=> f.Id == Category.ParentCategoryId).Name</b>
                                                    
                 <RadzenButton Click="@(_ => ParentEdit = new UpdateCategoryParentCategoryHttpBody(){Id = Category.Id})"
                               Text="Изменить"
                               Size="ButtonSize.Small"
                               Style=" float: right; display: flex "
                               ButtonStyle="ButtonStyle.Secondary"/>
             }
             else
             {<EditForm Model="@ParentEdit"
                        OnValidSubmit="@UpdateParent"
                        style="display: flex;
                               width: 100%;">
                  <b style="display: flex; 
                           width: 85%; 
                           align-items: center; 
                           height: 50px;
                           margin-top: 5px;"> 
                      <InputField Title="Наследуемая категория:">
                          <Controls>
                              <RadzenDropDown style="display: flex; "
                                              AllowClear="true"
                                              TValue="Guid"
                                              Data=@(Categories.Select(g => new {Id = g.Id, Name = g.Name}))
                                              TextProperty="Name"
                                              ValueProperty="Id"
                                              @bind-Value="ParentEdit.ParentCategoryId">
                              </RadzenDropDown>
                          </Controls>
                      </InputField>
                  </b>
                    
                  <DataAnnotationsValidator/>
                  <ValidationSummary/>

                  <div style="display: flex; align-items: center">
                      <RadzenButton type="submit"
                                    Text="Обновить"
                                    Size="ButtonSize.Small"
                                    Style="display: flex; 
                                          align-items: center;
                                          height: 28px; 
                                          margin-right: 25px; 
                                          width: min-content;"

                                    ButtonStyle="ButtonStyle.Secondary"/>
                      <RadzenButton Click=@(_ => ParentEdit = null)
                                    ButtonStyle="ButtonStyle.Danger"
                                    Icon="close"
                                    Style="height: 40px; width: 40px"
                                    Size="ButtonSize.Small"/>
                  </div>
              </EditForm>
             }
         </li>
         <li class="list-group-item" role="alert" style="width: 100%; display: flex;">
             @if (NameEdit == null)
             {
                 <b style="display: flex;  width: 85%; align-items: center">Имя категории: @Category.Name</b>
                                                    
                 <RadzenButton Click="@(_ => NameEdit = new UpdateCategoryNameHttpBody()
                                      {
                                          Id = Category.Id
                                      })"
                               Text="Изменить"
                               Size="ButtonSize.Small"
                               Style=" float: right; display: flex "
                               ButtonStyle="ButtonStyle.Secondary"/>
             }
             else
             {
                 <EditForm Model="@NameEdit"
                           OnValidSubmit="@UpdateName"
                           style="display: flex;
                                  width: 100%;">
                 
                     <b style="display: flex; 
                           width: 85%; 
                           align-items: center; 
                           height: 50px;
                           margin-top: 5px;">  
                         <InputField Title="Имя категории:">
                             <Controls>
                                 <RadzenTextBox style="display: flex;align-items: center"
                                                @bind-Value="NameEdit.Name"
                                                Placeholder="@Category.Name"/>
                            
                            
                             </Controls>
                         </InputField>
                     </b>
                    
                     <DataAnnotationsValidator/>
                     <ValidationSummary/>
                 
                     <div style="display: flex; align-items: center">
                         <RadzenButton type="submit"
                                       Text="Обновить"
                                       Size="ButtonSize.Small"
                                       Style="display: flex; 
                                          align-items: center;
                                          height: 28px; 
                                          margin-right: 25px; 
                                          width: min-content;"
                                       ButtonStyle="ButtonStyle.Secondary"/>
                         <RadzenButton Click=@(_ => NameEdit = null)
                                       ButtonStyle="ButtonStyle.Danger"
                                       Icon="close"
                                       Style="height: 40px; width: 40px"
                                       Size="ButtonSize.Small"/>
                     </div>
                 </EditForm>
             }
         </li>
     </ul>
 </RadzenFieldset>
 </div>
}

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public ArticleCategoryViewModel Category { get; set; }
    
    private List<ArticleCategoryViewModel> Categories { get; set; }
    
    private UpdateCategoryNameHttpBody NameEdit { get; set; }
    private UpdateCategoryParentCategoryHttpBody ParentEdit { get; set; }
    
    private bool _loading = true;

    
    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        Categories = (await new GetAllArticleCategoriesRequest(
            RequestManager,
            HttpClient, 
            new GetAllArticlesCategoriesHttpQuery(){InstanceId = await SessionProvider.GetCurrentInstanceId()}
            ).Send()).Data;
        
        _loading = false;
    }


    private async Task UpdateName()
    {
        await new UpdateCategoryNameRequest(RequestManager, HttpClient, NameEdit).Send();
        NameEdit = null;
    }
    
    private async Task UpdateParent()
    {
        await new UpdateCategoryParentCategoryRequest(RequestManager, HttpClient, ParentEdit).Send();
        ParentEdit = null;
    }
    
    
    
}
