@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.Contracts.Storage.Models
@using ArticleViewModel = Nano35.HttpContext.storage.ArticleViewModel
@using Nano35.Contracts.Storage.Artifacts
@using Nano35.HttpContext.instance
@using Nano35.Contracts.Instance.Models
@using System.Text.RegularExpressions
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject NotificationService NotificationService
@inject ISessionProvider SessionProvider

   
<LoadingContent IsLoaded="_isLoaded">
    <FieldList Title="Информация">
        <FieldListItem Title="Фио Клинта">
            <EditableField OnCancel="@(() => NameEdit = null)"
                           OnEdit="@(() => NameEdit = new UpdateClientsNameHttpBody() {ClientId = Client.Id})"
                           OnSave="@(() => UpdateName())">
                <View>
                    <p>@Client.Name</p></View>
                <Edit>
                    <RadzenTextBox style="display: flex;align-items: center"
                                   @bind-Value="NameEdit.Name"
                                   Placeholder="@Client.Name"/>
                </Edit>
            </EditableField>
        </FieldListItem>
        <FieldListItem Title="Телефон клиента">
            <EditableField OnCancel="@(() => PhoneEdit = null)"
                           OnEdit="@(() => PhoneEdit = new UpdateClientsPhoneHttpBody() {ClientId = Client.Id})"
                           OnSave="@(() => UpdatePhone())">
                <View>
                    <p>@Client.Phone</p></View>
                <Edit>
                    <RadzenTextBox style="display: flex;align-items: center"
                                   @bind-Value="Phone"
                                   Placeholder="@Client.Phone"
                                   Change=@(PhoneMask) />
                </Edit>
            </EditableField>
        </FieldListItem>
        <FieldListItem Title="Email клиента">
            <EditableField OnCancel="@(() => EmailEdit = null)"
                           OnEdit="@(() => EmailEdit = new UpdateClientsEmailHttpBody() {ClientId = Client.Id})"
                           OnSave="@(() => UpdateEmail())">
                <View>
                    <p>@Client.Email</p></View>
                <Edit>
                    <RadzenTextBox style="display: flex;align-items: center"
                                   @bind-Value="EmailEdit.Email"
                                   Placeholder="@Client.Email"/>
                </Edit>
            </EditableField>
        </FieldListItem>
        <FieldListItem Title="Статус клиента">
            <EditableField OnCancel="@(() => StateEdit = null)"
                           OnEdit="@(() => StateEdit = new UpdateClientsStateHttpBody() {ClientId = Client.Id})"
                           OnSave="@(() => UpdateState())">
                <View>
                    <p>@Client.ClientState</p></View>
                <Edit>
                    <RadzenDropDown style="display: flex; "
                                    AllowClear="true"
                                    TValue="Guid"
                                    Data=@(States.Select(g => new {Id = g.Id, Name = g.Name}))
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    @bind-Value="StateEdit.StateId">
                    </RadzenDropDown>
                </Edit>
            </EditableField>
        </FieldListItem>
        <RadzenButton Click="@(() => ConfirmDelete())"
                      Text="Удалить"
                      Size="ButtonSize.Small"
                      ButtonStyle="ButtonStyle.Danger"
                      Style="display: flex;
                             align-items: end;
                             width: 50px;
                             justify-content: center;
                             align-self: flex-end;
                             margin-top: 10px;"/>
    </FieldList>
</LoadingContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public ClientViewModel Item { get; set; }
    
    private List<ClientStateViewModel> States { get; set; } = new();
    private ClientViewModel Client { get; set; } = new();
    private List<ClientViewModel> Clients { get; set; } = new();
    
    private UpdateClientsEmailHttpBody EmailEdit {get;set;}
    private UpdateClientsNameHttpBody NameEdit {get;set;}
    private UpdateClientsPhoneHttpBody PhoneEdit {get;set;}
    private UpdateClientsSelleHttpBody SelleEdit {get;set;}
    private UpdateClientsStateHttpBody StateEdit {get;set;}
    
    private DeleteClientHttpBody ClientDelete { get; set; }
    private string Phone { get ; set ; } = "+7";

    private bool _isLoaded;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        States = (await new HttpGetRequest<GetAllClientStatesHttpResponse>(HttpClient, NotificationService, $"{RequestManager.InstanceServer}/ClientsStates").GetAsync()).Data.ToList();
        Client = (await new HttpGetRequest<GetClientByIdHttpResponse>(HttpClient, NotificationService, $"{RequestManager.InstanceServer}/Clients/{Item.Id}").GetAsync()).Data;
        _isLoaded = true;
    }
    
    private async Task LoadData()
    {
        States = (await new HttpGetRequest<GetAllClientStatesHttpResponse>(HttpClient, NotificationService, $"{RequestManager.InstanceServer}/ClientsStates").GetAsync()).Data.ToList();
        Client = (await new HttpGetRequest<GetClientByIdHttpResponse>(HttpClient, NotificationService, $"{RequestManager.InstanceServer}/Clients/{Item.Id}").GetAsync()).Data;
        StateHasChanged();
    }

    private async Task ConfirmDelete()
    {
        ClientDelete = new DeleteClientHttpBody() {ClientId = Client.Id};
        var parameters = new ModalParameters();
        parameters.Add(nameof(ModalConfirm.NoTitle), "Отменить");
        parameters.Add(nameof(ModalConfirm.YesTitle), "Удалить");
        var modal = Modal.Show<ModalConfirm>($"Вы уверены", parameters);
        var res = await modal.Result;
        if (!res.Cancelled)
        {
            await DeleteClient();
        }
    }
    
    private async Task DeleteClient()
    {
        await new HttpDeleteRequest<DeleteClientSuccessHttpResponse>(HttpClient, $"{RequestManager.InstanceServer}/Clients/{Client.Id}").DeleteAsync();
        ClientDelete = null;
        await ModalInstance.CloseAsync(ModalResult.Ok(""));
    }
    private async Task UpdateName()
    {
        await new HttpPatchRequest<UpdateClientsNameHttpBody, UpdateClientsNameHttpResponse>(HttpClient, $"{RequestManager.InstanceServer}/Clients/{NameEdit.ClientId}/Name").PatchAsync(NameEdit);
        NameEdit = null;
        await LoadData();
    }
    
    private async Task UpdatePhone()
    {
        await new HttpPatchRequest<UpdateClientsPhoneHttpBody, UpdateClientsPhoneHttpResponse>(HttpClient, $"{RequestManager.InstanceServer}/Clients/{PhoneEdit.ClientId}/Phone").PatchAsync(PhoneEdit);
        PhoneEdit = null;
        await LoadData();
    }
    private async Task UpdateEmail()
    {
        await new HttpPatchRequest<UpdateClientsEmailHttpBody, UpdateClientsEmailHttpResponse>(HttpClient, $"{RequestManager.InstanceServer}/Clients/{EmailEdit.ClientId}/Email").PatchAsync(EmailEdit);
        EmailEdit = null;
        await LoadData();
    }
    private async Task UpdateSelle()
    {
        await new HttpPatchRequest<UpdateClientsSelleHttpBody, UpdateClientsSelleHttpResponse>(HttpClient, $"{RequestManager.InstanceServer}/Clients/{SelleEdit.ClientId}/Selle").PatchAsync(SelleEdit);
        SelleEdit = null;
        await LoadData();
    }
    private async Task UpdateState()
    {
        await new HttpPatchRequest<UpdateClientsStateHttpBody, UpdateClientsStateHttpResponse>(HttpClient, $"{RequestManager.InstanceServer}/Clients/{StateEdit.ClientId}/State").PatchAsync(StateEdit);
        StateEdit = null;
        await LoadData();
    }
    
    private async Task PhoneMask()
    {

        Phone = Regex.Replace(Phone, @"[^\d]", "");
        
        const string countryCode = "+7";
        
        if (Phone.StartsWith("7"))
            Phone = Phone.Remove(0,1);
        
        if (Phone.StartsWith("8"))
            Phone = Phone.Remove(0,1);
        
        if (Phone.Length < 10)
            Phone = Phone.PadRight(10);
        
        if (Phone.Length > 10)
            Phone = Phone.Substring(0, 10);
        
        PhoneEdit.Phone = Phone;

        Phone = $"{countryCode}({Phone.Substring(0, 3)}) {Phone.Substring(3, 3)}-{Phone.Substring(6, 2)}-{Phone.Substring(8, 2)}";
    }
    
}
