@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.Contracts.Storage.Models
@using ArticleViewModel = Nano35.HttpContext.storage.ArticleViewModel
@using Nano35.Contracts.Storage.Artifacts
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

   
<LoadingContent IsLoaded="_isLoaded">
    <LoadedContent>
        <FieldList Title="Информация">
            <FieldListItem Title="Фио Клинта">
                <EditableField OnCancel="@(() => NameEdit = null)"
                               OnEdit="@(() => NameEdit = new UpdateClientsNameHttpBody() {ClientId = Client.Id})"
                               OnSave="@(() => UpdateName())">
                    <View>
                        <p>@Client.Name</p></View>
                    <Edit>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="NameEdit.Name"
                                       Placeholder="@Client.Name"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
            <FieldListItem Title="Телефон клиента">
                <EditableField OnCancel="@(() => PhoneEdit = null)"
                               OnEdit="@(() => PhoneEdit = new UpdateClientsPhoneHttpBody() {ClientId = Client.Id})"
                               OnSave="@(() => UpdatePhone())">
                    <View>
                        <p>@Client.Phone</p></View>
                    <Edit>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="PhoneEdit.Phone"
                                       Placeholder="@Client.Phone"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
            <FieldListItem Title="Email клиента">
                <EditableField OnCancel="@(() => EmailEdit = null)"
                               OnEdit="@(() => EmailEdit = new UpdateClientsEmailHttpBody() {ClientId = Client.Id})"
                               OnSave="@(() => UpdateEmail())">
                    <View>
                        <p>@Client.Email</p></View>
                    <Edit>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="EmailEdit.Email"
                                       Placeholder="@Client.Email"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
            <FieldListItem Title="Статус клиента">
                <EditableField OnCancel="@(() => StateEdit = null)"
                               OnEdit="@(() => StateEdit = new UpdateClientsStateHttpBody() {ClientId = Client.Id})"
                               OnSave="@(() => UpdateState())">
                    <View>
                        <p>@Client.ClientState</p></View>
                    <Edit>
                        <RadzenDropDown style="display: flex; "
                                        AllowClear="true"
                                        TValue="Guid"
                                        Data=@(States.Select(g => new {Id = g.Id, Name = g.Name}))
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        @bind-Value="StateEdit.StateId">
                        </RadzenDropDown>
                    </Edit>
                </EditableField>
            </FieldListItem>
            <FieldListItem Title="Тип клиента">
                <EditableField OnCancel="@(() => TypeEdit = null)"
                               OnEdit="@(() => TypeEdit = new UpdateClientsTypeHttpBody() {ClientId = Client.Id})"
                               OnSave="@(() => UpdateType())">
                    <View>
                        <p>@Client.ClientType</p></View>
                    <Edit>
                        <RadzenDropDown style="display: flex; "
                                        AllowClear="true"
                                        TValue="Guid"
                                        Data=@(Types.Select(g => new {Id = g.Id, Name = g.Name}))
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        @bind-Value="TypeEdit.TypeId">
                        </RadzenDropDown>
                    </Edit>
                </EditableField>
            </FieldListItem>
            <RadzenButton Click="@(() => ConfirmDelete())"
                          Text="Удалить"
                          Size="ButtonSize.Small"
                          ButtonStyle="ButtonStyle.Danger"
                          Style="display: flex;
                                 align-items: end;
                                 width: 50px;
                                 justify-content: center;
                                 align-self: flex-end;
                                 margin-top: 10px;"/>
        </FieldList>
    </LoadedContent>
</LoadingContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public ClientViewModel Client { get; set; }
    
    private UpdateClientsEmailHttpBody EmailEdit {get;set;}
    private UpdateClientsNameHttpBody NameEdit {get;set;}
    private UpdateClientsPhoneHttpBody PhoneEdit {get;set;}
    private UpdateClientsSelleHttpBody SelleEdit {get;set;}
    private UpdateClientsStateHttpBody StateEdit {get;set;}
    private List<ClientStateViewModel> States { get; set; }
    private UpdateClientsTypeHttpBody TypeEdit {get;set;}
    private List<ClientTypeViewModel> Types { get; set; }
    
    private DeleteClientHttpBody ClientDelete { get; set; }
    
    private bool _isLoaded = false;
    
    protected override async Task OnInitializedAsync()
    {
        States = (await new GetAllClientStatesRequest(
            RequestManager,
            HttpClient, 
            new GetAllClientStatesHttpQuery(){}
            ).Send()).Data.ToList();
        
        Types = (await new GetAllClientTypesRequest(
            RequestManager,
            HttpClient, 
            new GetAllClientTypesHttpQuery(){}
            ).Send()).Data.ToList();
        
        _isLoaded = true;
    }

    private async Task ConfirmDelete()
    {
        ClientDelete = new DeleteClientHttpBody() {ClientId = Client.Id};
        var parameters = new ModalParameters();
        parameters.Add(nameof(ModalConfirm.NoTitle), "Отменить");
        parameters.Add(nameof(ModalConfirm.YesTitle), "Удалить");
        var modal = Modal.Show<ModalConfirm>($"Вы уверены", parameters);
        var res = await modal.Result;
        if (!res.Cancelled)
        {
            DeleteClient();
        }
    }
    
    private async Task DeleteClient()
    {
        await new DeleteClientRequest(RequestManager, HttpClient, ClientDelete).Send();
        ClientDelete = null;
    }
    private async Task UpdateName()
    {
        await new UpdateClientNameRequest(RequestManager, HttpClient, NameEdit).Send();
        NameEdit = null;
    }
    
    private async Task UpdatePhone()
    {
        await new UpdateClientPhoneRequest(RequestManager, HttpClient, PhoneEdit).Send();
        PhoneEdit = null;
    }
    private async Task UpdateEmail()
    {
        await new UpdateClientEmailRequest(RequestManager, HttpClient, EmailEdit).Send();
        EmailEdit = null;
    }
    private async Task UpdateSelle()
    {
        await new UpdateClientSelleRequest(RequestManager, HttpClient, SelleEdit).Send();
        SelleEdit = null;
    }
    private async Task UpdateState()
    {
        await new UpdateClientStateRequest(RequestManager, HttpClient, StateEdit).Send();
        StateEdit = null;
    }
    private async Task UpdateType()
    {
        await new UpdateClientTypeRequest(RequestManager, HttpClient, TypeEdit).Send();
        TypeEdit = null;
    }
    
    
    
}
