@using Nano35.WebClient.Services
@using Nano35.Contexts.Http.storage
@using Append.Blazor.Printing
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IPrintingService PrintingService
@inject NotificationService NotificationService
@inject HttpGet GetRequest
@inject NavigationManager NavigationManager

<RadzenFieldset Text="Информация" Style="width: 100%;">
    <ul class="list-group">
        <li class="list-group-item">
            <b>Номер оприходования: @Coming.Number</b>
        </li>
        <li class="list-group-item">
            <b>Дата: @Coming.Date</b>
        </li>
        <li class="list-group-item">
            <b>Целевое подразделение: @Coming.Unit</b>
        </li>
        <li class="list-group-item">
            <b>Поставщик: @Coming.Client</b>
        </li>
    </ul>
</RadzenFieldset>
<RadzenFieldset Text="Оприходуемые товары" Style="width: 60rem">
    <RadzenGrid Data="@(Details)" EmptyText="Добавте оприходуемые товары..." TItem="ComingDetailViewModel">
        <Columns>
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="StorageItem" Title="Товар" Width="370px"/>
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="PlaceOnStorage" Title="Место на складе" />
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="Count" Title="Количество" />
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="Price" Title="Цена" />
            <RadzenGridColumn TItem="ComingDetailViewModel" Bubble="false" Sortable="false" Filterable="false" Width="120px" TextAlign="TextAlign.Center">
                <Template Context="item">
                    <RadzenButton Click=@(_ => PrintTicketAsync(item.StorageItemId)) Text="Этикетка" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary"/>                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</RadzenFieldset>

@code
{
    [Parameter] public ComingViewModel Coming { get; set; }
    private List<ComingDetailViewModel> Details { get; set; }
    
    private async Task PrintTicketAsync(Guid itemId)
    {
        await PrintingService.Print($"https://nano35.ru/api/docs/StorageItems/StorageItemTicket/{itemId}");
    }
    
    protected override async Task OnInitializedAsync()
    {
        await GetRequest.InvokeAsync<GetAllComingDetailsSuccessHttpResponse>(
            $"storage/Comings/{Coming.Id}/Details",
            resp =>
            {
                if (resp.IsSuccess()) {Details = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
    }
}
