@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@using Radzen
@using Radzen.Blazor
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<EditForm Model="@Model" OnSubmit="Create">
    
    @if (_isLoaded)
    {
        <InputField Title="Номер оприходования*">
            <Controls>
                <RadzenTextBox style="width: 100%;" 
                               Placeholder="Введите уникальный номер оприходования..."
                               @bind-Value="Model.Number"/>
            </Controls>
        </InputField>
        
        <InputField Title="Клиент*">
            <Controls>
                <RadzenDropDown Data=@(Clients.Select(a => new {Id = a.Id, Name = $"{a.Name} - {a.Phone}"}))
                                TextProperty="Name"
                                ValueProperty="Id"
                                TValue="Guid"
                                @bind-Value="Model.ClientId"
                                style="flex: auto;"
                                AllowClear="true"
                                Placeholder="Выберите поставщика..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
                <RadzenButton Click=@(args => { _isNewClientDisplay = true; })
                              Text="Добавить"
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="width: 150px"/>
                <Modal Title="Новый клиент"
                       IsDisplay="@_isNewClientDisplay">
                    <Form>
                        <CreateClient/>
                    </Form>
                </Modal>
            </Controls>
        </InputField>
        
        
        <InputField Title="Подразделение*">
            <Controls>
                <RadzenDropDown Data=@(Units.Select(a => new { Id = a.Id, Name = $"{a.Name} - {a.Adress}"}))
                                TextProperty="Name" 
                                ValueProperty="Id"
                                TValue="Guid" 
                                @bind-Value="Model.UnitId"
                                Style="flex: auto;"
                                AllowClear="true"
                                Placeholder="Выберите целевое подразделение..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
                <RadzenButton Click=@(args => { _isNewUnitDisplay = true; })
                              Text="Добавить"
                              ButtonStyle="ButtonStyle.Secondary"
                              Style="width: 150px" />
                <Modal Title="Новое подразделение" 
                       IsDisplay="@_isNewUnitDisplay">
                    <Form>
                        <CreateUnit/>  
                    </Form>
                </Modal>
            </Controls>
        </InputField>
        
        <InputField Title="Комментарий">
            <Controls>
                <RadzenTextBox Style="width: 100%;" 
                               Placeholder="Введите коментарий к оприходованию..."
                               @bind-Value="Model.Comment"/>
            </Controls>
        </InputField>
    
        <RadzenFieldset Text="Оприходуемые товары">           
            <RadzenButton Click=@(args => { _isNewComingDetailDisplay = true; }) 
                          Text="Добавить"
                          ButtonStyle="ButtonStyle.Secondary"
                          Style="width: 100%" />
            <Modal Title="Новая позиция к оприходованию"
                   IsDisplay="@_isNewComingDetailDisplay">
                <Form>
                    <AddComingDetailForm OnAddNewComingDetail="AddComingDetail"/>
                </Form>
            </Modal>
        
            <RadzenGrid Data="@_details"
                        EmptyText="Добавте оприходуемые товары..."
                        TItem="CreateComingDetailViewModel">
                <Columns>
                    <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                      Property="PlaceOnStorage" 
                                      Title="Товар" />
                    <RadzenGridColumn TItem="CreateComingDetailViewModel" 
                                      Property="PlaceOnStorage" 
                                      Title="Место на складе" />
                    <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                      Property="Count"
                                      Title="Количество" />
                    <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                      Property="Price" 
                                      Title="Цена" />
                    <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                      Context="order"
                                      Bubble="false"
                                      TextAlign="TextAlign.Center" 
                                      Width="70px">
                        <Template Context="item">
                            <RadzenButton
                                ButtonStyle="ButtonStyle.Danger"
                                Icon="close"
                                Size="ButtonSize.Small" 
                                Click="@(args => { })">
                            </RadzenButton>
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
        </RadzenFieldset>
    }
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@Error</div>
    }
    
    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
</EditForm>

@code
{
    [Parameter] public CreateComingHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }

    private List<ClientViewModel> Clients = new List<ClientViewModel>();
    private List<UnitViewModel> Units = new List<UnitViewModel>();
    private List<CreateComingDetailViewModel> _details = new List<CreateComingDetailViewModel>();
    private bool _isNewComingDetailDisplay = false;
    private bool _isLoaded;
    private bool _isNewClientDisplay = false;
    private bool _isNewUnitDisplay = false;

    private async void Create()
    {
        Console.WriteLine($"Number {Model.Number}");
        Console.WriteLine($"ClientId {Model.ClientId}");
        //Model.Details = _details.Select(a => 
        //    new CreateComingDetailViewModel() { NewId = a.NewId, Count = a.Count, Price = a.Price, PlaceOnStorage = a.PlaceOnStorage, StorageItemId = a.StorageItemId}).ToList();
        //await FormSubmitted.InvokeAsync();
    }

    private void AddComingDetail(CreateComingDetailViewModel model)
    {
        _details.Add(model);
        _isNewComingDetailDisplay = false;
    }
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        await LoadClients();
        await LoadUnits();
        _isLoaded = true;
    }

    private async Task LoadClients()
    {
        Clients = (await new GetAllClientsRequest(RequestManager, HttpClient, new GetAllClientsHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()}).Send()).Data.ToList();
    }

    private async Task LoadUnits()
    {
        Units = (await new GetAllUnitsRequest(RequestManager, HttpClient, new GetAllUnitsHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()}).Send()).Data.ToList();
    }
}
