@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NotificationService NotificationService
@inject HttpGet GetRequest
@inject NavigationManager NavigationManager

<RadzenFieldset Text="Информация" Style="width: 100%;">
    <ul class="list-group">
        <li class="list-group-item">
            <b>Номер оприходования: @Coming.Number</b>
        </li>
        <li class="list-group-item">
            <b>Дата: @Coming.Date</b>
        </li>
        <li class="list-group-item">
            <b>Целевое подразделение: @Coming.Unit</b>
        </li>
        <li class="list-group-item">
            <b>Поставщик: @Coming.Client</b>
        </li>
    </ul>
</RadzenFieldset>
<RadzenFieldset Text="Оприходуемые товары" Style="width: 60rem">
    <RadzenGrid Data="@(Details)" EmptyText="Добавте оприходуемые товары..." TItem="ComingDetailViewModel">
        <Columns>
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="StorageItem" Title="Товар" />
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="PlaceOnStorage" Title="Место на складе" />
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="Count" Title="Количество" />
            <RadzenGridColumn TItem="ComingDetailViewModel" Property="Price" Title="Цена" />
            <RadzenGridColumn TItem="ComingDetailViewModel" Bubble="false" Sortable="false" Filterable="false" Width="250px" TextAlign="TextAlign.Center">
                <Template Context="item">
                    <a href="http://192.168.100.124:5002/StorageItems/Ticket?storageItemId=@item.StorageItemId.ToString()" target="_blank">Этикетка</a>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</RadzenFieldset>

@code
{
    [Parameter] public ComingViewModel Coming { get; set; }
    private List<ComingDetailViewModel> Details { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        await GetRequest.InvokeAsync<GetAllComingDetailsSuccessHttpResponse>(
            RequestManager.StorageServer, $"Comings/{Coming.Id}/Details",
            resp =>
            {
                if (resp.IsSuccess()) {Details = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
    }
}
