@using Nano35.WebClient.Services
@using Nano35.HttpContext.storage
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

@if (_isLoaded)
{
    <EditForm Model="@_model" 
              OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator/>
        
        <InputField Title="Товар">
            <Controls>
                <div style="display: flex; width: 100%">
                    <RadzenDropDown Data=@(StorageItems.Select(a => new {Id = a.Id, Name = $"{a.Article + " " + a.Condition}"}))
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    TValue="Guid"
                                    @bind-Value="_model.StorageItemId"
                                    Style="width: 100%;"
                                    Disabled="@(!StorageItems.Any())"
                                    Placeholder="..."
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    FilterOperator="StringFilterOperator.Contains"
                                    AllowFiltering="true"
                                    Change="StorageItemChanged"/>
                    <RadzenButton Click=@(_ => OpenCreateStorageItem())
                                  Text="Добавить"
                                  ButtonStyle="ButtonStyle.Secondary"/>
                </div>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => _model.StorageItemId)" />
            </Validation>
        </InputField>
        
        @if(Warehouse.Any())
        {
            <InputField Title="Ячейка на складе">
            <Controls>
                <RadzenDropDown Data=@(Warehouse.Select(a => new { Name = a.Name}))
                                TextProperty="Name"
                                ValueProperty="Name"
                                TValue="string"
                                @bind-Value="_model.PlaceOnStorage"
                                Style="width: 100%;"
                                Disabled="@(!StorageItems.Any())"
                                Placeholder="Выберите из доступных ячеек"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => _model.PlaceOnStorage)" />
            </Validation>
        </InputField>
        }
        else
        {
            <InputField Title="Ячейка на складе">
                <Controls>
                    <RadzenTextBox style="display: flex; width: 100%"
                                   @bind-Value="_model.PlaceOnStorage"
                                   Placeholder="Введите название новой ячейки"/>
                </Controls>
                <Validation>
                    <ValidationMessage For="@(() => _model.PlaceOnStorage)" />
                </Validation>
            </InputField>
        }
        <InputField Title="Количество">
            <Controls>
                <RadzenNumeric style="width: 100%;" 
                               Placeholder="..."
                               @bind-Value="_model.Count"
                               ShowUpDown="false"
                               Min="1"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => _model.Count)" />
            </Validation>
        </InputField>
        
        <InputField Title="Цена за еденицу">
            <Controls>
                <RadzenNumeric style="width: 100%;" 
                               Placeholder="..."
                               ShowUpDown="false"
                               @bind-Value="_model.Price"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => _model.Price)" />
            </Validation>
        </InputField>

        <RadzenButton type="submit"
                      Text="Создать"
                      ButtonStyle="ButtonStyle.Primary"
                      Style="width: 100%" />
    </EditForm>
}
else
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private CreateComingDetailViewModel _model = new();
    private List<StorageItemViewModel> StorageItems { get; set; }
    private List<PlaceWithStorageItemOnUnit> Warehouse { get; set; } = new();
    private bool _isLoaded;

    protected override async Task OnInitializedAsync()
    {
        _model = new CreateComingDetailViewModel()
        {
            NewId = Guid.NewGuid(),
            Count = 1,
            
        };
        StorageItems = await GetAllStorageItems();
        _isLoaded = true;
    }

    private async Task HandleValidSubmit() 
    {
        await ModalInstance.CloseAsync(ModalResult.Ok(_model));
    }

    private async Task OpenCreateStorageItem()
    {
        var moviesModal = Modal.Show<StorageItemsCreate>("Новое изделие");
        await moviesModal.Result;
        StorageItems = await GetAllStorageItems();
    }
    
    private async Task<List<StorageItemViewModel>> GetAllStorageItems() => 
        (await new HttpGetRequest<GetAllStorageItemsSuccessHttpResponse>(HttpClient, 
            $"{RequestManager.StorageServer}/StorageItems?InstanceId={await SessionProvider.GetCurrentInstanceId()}").GetAsync()).Data.ToList();

    private async Task StorageItemChanged()
    {
        _model.PlaceOnStorage = "";
        Warehouse =  (await new HttpGetRequest<GetAllPlacesOfStorageItemOnUnitSuccessHttpResponse>(HttpClient, 
            $"{RequestManager.StorageServer}/Warehouse/PlacesOfStorageItemOnUnit?StorageItemId={_model.StorageItemId}&UnitContainsStorageItemId={await SessionProvider.GetCurrentUnitId()}").GetAsync()).Contains.ToList();
        _model.Price = (double) StorageItems.FirstOrDefault(a=> a.Id == _model.StorageItemId).PurchasePrice;
    }
}
