@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<EditForm Model="@(Model)" 
          OnSubmit="Create">
@if (_isLoaded)
{
    <InputField Title="Номер оприходования*">
        <Controls>
            <RadzenTextBox style="width: 100%;" 
                           Placeholder="Введите уникальный номер оприходования..."
                           @bind-Value="Model.Number"/>
        </Controls>
    </InputField>
    
    <InputField Title="Поставщик*">
        <Controls>
            <div style="display: flex; width: 100%;">
                <RadzenDropDown Data=@(_clients.Select(a => new {a.Id, Name = $"{a.Name} - {a.Phone}"}))
                                TextProperty="Name"
                                ValueProperty="Id"
                                TValue="Guid"
                                @bind-Value="Model.ClientId"
                                Style="width: 100%;"
                                Disabled="@(!_clients.Any())"
                                Placeholder="Выберите поставщика..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
                <RadzenButton Click=@(_ => NewClient())
                              Text="Добавить"
                              ButtonStyle="ButtonStyle.Secondary"/>
            </div>
        </Controls>
    </InputField>
    
    
    <InputField Title="Подразделение*">
        <Controls>
            <RadzenDropDown Data=@(_units.Select(a => new {a.Id, Name = $"{a.Name} - {a.Address}"}))
                            TextProperty="Name" 
                            ValueProperty="Id"
                            TValue="Guid" 
                            @bind-Value="Model.UnitId"
                            Disabled="@(!_units.Any())"
                            Style="width: 100%;"
                            Placeholder="Выберите целевое подразделение..."
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                            FilterOperator="StringFilterOperator.Contains"
                            AllowFiltering="true"/>
        </Controls>
    </InputField>
    
    <InputField Title="Комментарий">
        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           Placeholder="Введите коментарий к оприходованию..."
                           @bind-Value="Model.Comment"/>
        </Controls>
    </InputField>

    <RadzenFieldset Text="Оприходуемые товары">           
        
    
        <RadzenGrid Data="@_details"
                    EmptyText="Добавте оприходуемые товары..."
                    TItem="CreateComingDetailViewModel">
            <Columns>
                <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                  Property="PlaceOnStorage" 
                                  Title="Товар" />
                <RadzenGridColumn TItem="CreateComingDetailViewModel" 
                                  Property="PlaceOnStorage" 
                                  Title="Место на складе" />
                <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                  Property="Count"
                                  Title="Количество" />
                <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                  Property="Price" 
                                  Title="Цена" />
                <RadzenGridColumn TItem="CreateComingDetailViewModel"
                                  Context="order"
                                  Bubble="false"
                                  TextAlign="TextAlign.Center" 
                                  Width="70px">
                    <Template Context="item">
                        <RadzenButton
                            ButtonStyle="ButtonStyle.Danger"
                            Icon="close"
                            Size="ButtonSize.Small">
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
        <RadzenButton Click=@(_ => AddDetail()) 
            Text="Добавить"
            ButtonStyle="ButtonStyle.Secondary"
            Style="width: 100%" />
    </RadzenFieldset>
}
else
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(Error))
{
    <div class="alert alert-danger mt-3 mb-0">@Error</div>
}
    
    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
</EditForm>

@code
{
    [Parameter] public CreateComingHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    private List<ClientViewModel> _clients = new List<ClientViewModel>();
    private List<UnitViewModel> _units = new List<UnitViewModel>();
    private List<CreateComingDetailViewModel> _details = new List<CreateComingDetailViewModel>();
    
    private bool _isLoaded;

    private async void Create()
    {
        Model.Details = _details.Select(a => 
            new CreateComingDetailViewModel()
            {
                NewId = a.NewId, 
                Count = a.Count, 
                Price = a.Price,
                PlaceOnStorage = a.PlaceOnStorage, 
                StorageItemId = a.StorageItemId
            }).ToList();
        await FormSubmitted.InvokeAsync();
        await ModalInstance.CloseAsync();
    }

    private void AddComingDetail(CreateComingDetailViewModel model)
    {
        _details.Add(model);
    }
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _clients = await LoadClients();
        _units = await LoadUnits();
        _isLoaded = true;
    }
    
    private async Task<List<ClientViewModel>> LoadClients() => (await new GetAllClientsRequest(RequestManager, HttpClient, new GetAllClientsHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()}).Send()).Data.ToList();

    private async Task<List<UnitViewModel>> LoadUnits() => (await new GetAllUnitsRequest(RequestManager, HttpClient, new GetAllUnitsHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()}).Send()).Data.ToList();
    
    private async Task AddDetail()
    {
        var modal = Modal.Show<ComingsCreateDetailForm>($"Новая позиция к оприходованию");
        _details.Add((CreateComingDetailViewModel)(await modal.Result).Data);
    }
    
    private void NewClient()
    {
        Modal.Show<ClientsCreate>($"Новый клиент");
    }
}
