@using Nano35.WebClient.Services
@using Nano35.Contracts.Instance.Models
@using Nano35.WebClient.Helpers
@using Nano35.Contexts.Http.storage
@using Nano35.Contexts.Http.Instance
@using Append.Blazor.Printing
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject IPrintingService PrintingService
@inject IToolTipService ToolTipService
@inject HttpGet GetRequest
@inject HttpPost PostRequest
@inject NavigationManager NavigationManager

<BoxedContent Width="40">
    <LoadingContent IsLoaded="_isLoaded"> 
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <InputField Title="Поставщик*" 
                        Helper="Выберите целевое подразделение для оприходования">
                <Controls>
                    <RadzenDropDown Data=@(_clients.Select(a => new {a.Id, Name = $"{a.Name} - {a.Phone}"}))
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    TValue="Guid"
                                    @bind-Value="Model.ClientId"
                                    Style="width: 100%;"
                                    Disabled="@(!_clients.Any())"
                                    Placeholder="Выберите поставщика..."
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    FilterOperator="StringFilterOperator.Contains"
                                    AllowFiltering="true"/>
                    <RadzenButton Click=@(_ => NewClient()) Text="Добавить" ButtonStyle="ButtonStyle.Secondary" Style="margin-left: 5px"/>
                </Controls>
                <Validation><ValidationMessage For="@(() => Model.ClientId)" /></Validation>
            </InputField>
        
            <ConditionalContent IsLoaded="@(_roles.Contains(RolesHelper.Manager) || _roles.Contains(RolesHelper.Admin))">
                <AllowedContent>
                    <InputField Title="Подразделение*" 
                                Helper="Выберите целевое подразделение для оприходования">
                        <Controls>
                            <RadzenDropDown Data=@(_units.Select(a => new {a.Id, Name = $"{a.Name} - {a.Address}"}))
                                                TextProperty="Name" 
                                                ValueProperty="Id"
                                                TValue="Guid" 
                                                @bind-Value="Model.UnitId"
                                                Disabled="@(!_units.Any())"
                                                Style="width: 100%;"
                                                Placeholder="Выберите целевое подразделение..."
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                                FilterOperator="StringFilterOperator.Contains"
                                            AllowFiltering="true"/>
                        </Controls>
                        <Validation><ValidationMessage For="@(() => Model.UnitId)" /></Validation>
                    </InputField>
                </AllowedContent>
            </ConditionalContent>

            <InputField Title="Комментарий" 
                        Helper="Введите произвольный комментарий к оприходованию">
                <Controls>
                    <RadzenTextBox Style="width: 100%;" @bind-Value="Model.Comment"/>
                </Controls>
                <Validation><ValidationMessage For="@(() => Model.Comment)" /></Validation>
            </InputField>
            
            <InputField Title="Оприходуемые товары"
                        Helper="...">
                <Controls>
                    <RadzenGrid Data="@_details" EmptyText="Добавте оприходуемые товары..." TItem="CreateComingDetailViewModel">
                        <Columns>
                            <RadzenGridColumn TItem="CreateComingDetailViewModel" Property="PlaceOnStorage" Title="Товар" />
                            <RadzenGridColumn TItem="CreateComingDetailViewModel" Property="PlaceOnStorage" Title="Ячейка" />
                            <RadzenGridColumn TItem="CreateComingDetailViewModel" Property="Count" Title="Количество" />
                            <RadzenGridColumn TItem="CreateComingDetailViewModel" Property="Price" Title="Цена" />
                            <RadzenGridColumn TItem="CreateComingDetailViewModel" Context="order" Bubble="false" TextAlign="TextAlign.Center">
                                <Template Context="item">
                                    <RadzenButton Click=@(_ => PrintTicketAsync(item.StorageItemId)) Text="Этикетка" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Secondary"/>
                                </Template>
                            </RadzenGridColumn>
                        </Columns>
                    </RadzenGrid>
                    <RadzenButton Click=@(_ => AddDetail()) Text="Добавить изделия" ButtonStyle="ButtonStyle.Secondary" Style="width: 100%; margin-top: 1rem" />
                </Controls>
            </InputField>
            <ValidationMessage For="@(() => Model.Details)" />
            @if (!string.IsNullOrEmpty(Error))
            {
                <div class="alert alert-danger mt-3 mb-0">@Error</div>
            }
            <RadzenButton type="submit" Text="Создать" ButtonStyle="ButtonStyle.Primary" Style="width: 100%; margin-top: 1rem;" />
        </EditForm>
    </LoadingContent>
</BoxedContent>

@code
{
    
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    
    private CreateComingHttpBody Model { get; set; } = new();
    private List<Guid> _roles = new();
    private List<ClientViewModel> _clients = new();
    private List<UnitViewModel> _units = new();
    private List<CreateComingDetailViewModel> _details = new();
    
    private bool _isLoaded;
    private string Error { get; set; }
    
    private async Task PrintTicketAsync(Guid itemId)
    {
        await PrintingService.Print($"https://nano35.ru/api/docs/StorageItems/StorageItemTicket/{itemId}");
    }
    
    private async Task HandleValidSubmit()
    {
        _isLoaded = false;
        try
        {
            await PostRequest.InvokeAsync<CreateComingSuccessHttpResponse, CreateComingHttpBody>($"Comings", Model,
                resp =>
                {
                    if (resp.IsSuccess()) {}
                    else
                    {
                        Console.WriteLine(resp.Error);
                        NavigationManager.NavigateTo("/instance-view");
                    }
                });
            
            await ModalInstance.CloseAsync(ModalResult.Ok(""));
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
        _isLoaded = true;
    }

    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _roles = await AuthService.GetCurrentRoles();
        _clients = await LoadClients();
        _units = await LoadUnits();
        Model.NewId = Guid.NewGuid();
        Model.UnitId = await SessionProvider.GetCurrentUnitId();
        Model.InstanceId = await SessionProvider.GetCurrentInstanceId();
        _isLoaded = true;
    }
    
    private async Task<List<ClientViewModel>> LoadClients()
    {
        var data = new List<ClientViewModel>();

        await GetRequest.InvokeAsync<GetAllClientsHttpResponse>($"Clients?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess()) {data = resp.Success.Data.ToList();}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        return data;
    }

    private async Task<List<UnitViewModel>> LoadUnits()
    {
        var data = new List<UnitViewModel>();
        
        await GetRequest.InvokeAsync<GetAllUnitsHttpResponse>($"Units?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess()) {data = resp.Success.Units.ToList();}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        
        return data;
    }
    
    private async Task AddDetail()
    {
        var modalOpts = new ModalOptions()
        {
            DisableBackgroundCancel = true, FocusFirstElement = true
        };
        var modal = Modal.Show<ComingsDetailForm>($"Новая позиция к оприходованию", modalOpts);
        var result = await modal.Result;
        
        if (result.Data is CreateComingDetailViewModel success)
        {
            Model.Details ??= new List<CreateComingDetailViewModel>();
            Model.Details.Add((CreateComingDetailViewModel) (result).Data);
            _details.Add(success);
        }
    }
    
    private async Task NewClient()
    {
        var modalOpts = new ModalOptions()
        {
            DisableBackgroundCancel = true, FocusFirstElement = true
        };
        var modal = Modal.Show<ClientsCreateForm>($"Новый клиент", modalOpts);
        var res = await modal.Result;
        if (!res.Cancelled)
        {
            Model.ClientId = (Guid) res.Data;
        }

        _clients = await LoadClients();
        
    }
        
}
