@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/coming"
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider

@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Оприходования"/>
    
    <RadzenButton Click=@(_ => NewComing()) 
                  Text="Создать"
                  Style="margin: 1rem 0;"
                  ButtonStyle="ButtonStyle.Primary"/>
    
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                RowExpand=@(args => { Console.WriteLine(args.ToString()); })
                RowCollapse=@(args => { Console.WriteLine(args.ToString()); })
                Data="@_data"
                TItem="ComingViewModel">
        <Template Context="item">
            <div>
                <div>
                    @item.Cash руб.
                </div>
                <div>
                    @item.Cash руб.
                </div>
            </div>
        </Template>
        <Columns>
            <RadzenGridColumn TItem="ComingViewModel" 
                              Property="Number"
                              Filterable="false"
                              Sortable="false"
                              Title="Номер" />
            <RadzenGridColumn TItem="ComingViewModel"
                              Filterable="false"
                              Sortable="false"
                              Title="Дата">
                <Template Context="item">
                    @item.Date.ToString("dd-MM-yyyy")
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="ComingViewModel"
                              Filterable="false"
                              Sortable="false"
                              Property="Unit" 
                              Title="Подразделение" />
            <RadzenGridColumn TItem="ComingViewModel"
                              Filterable="false"
                              Sortable="false"
                              Property="Client" 
                              Title="Клиент" />
            <RadzenGridColumn TItem="ComingViewModel" 
                              Filterable="false"
                              Sortable="false"
                              Width="130px"
                              Title="Цена">
                <Template Context="item">
                    @item.Cash руб.
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>

}

@code
{
    private IEnumerable<ComingViewModel> _data;
    private bool _loading = true;
    [CascadingParameter] public IModalService Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _data = (await ComingsService.GetAllComings(await SessionProvider.GetCurrentInstanceId())).Data;
        _loading = false;
    }

    private async void NewComing()
    {
        var tmp = Modal.Show<ComingsCreate>("Новое оприходование");
        await tmp.Result;
        _data = (await ComingsService.GetAllComings(await SessionProvider.GetCurrentInstanceId())).Data;
    }

    private void OpenComing(ComingViewModel coming)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ComingsDetails.Coming), coming);
        Modal.Show<ComingsDetails>($"Оприходование", parameters);
    }
}
