@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@using Radzen
@using Radzen.Blazor
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<EditForm Model=@(Model) OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    
    <InputField Title="Название сервиса">
        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.Name"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Name)" />
        </Validation>
    </InputField>
    
    <InputField Title="Эл почта">
        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.Email"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Email)" />
        </Validation>
    </InputField>
    
    <InputField Title="Номер телефона">
        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.Phone"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Phone)" />
        </Validation>
    </InputField>
    
    <InputField Title="Название организации">
        <Controls>
            <RadzenNumeric Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.RealName"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.RealName)" />
        </Validation>
    </InputField>
    
    <InputField Title="Описание">
        <Controls>
            <RadzenNumeric Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.Info"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Info)" />
        </Validation>
    </InputField>
    
    <InputField Title="Регион">
        <Controls>
            <RadzenDropDown Data="@(_regions.Select(a => new {Id = a.Id, Name = a.Name}))"
                            TextProperty="Name"
                            ValueProperty="Id"
                            TValue="Guid"
                            @bind-Value="Model.RegionId"
                            style="width: 100%"
                            Placeholder="..."/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.RegionId)" />
        </Validation>
    </InputField>
    
    <InputField Title="Тип">
        <Controls>
            <RadzenDropDown Data="@(_types.Select(a => new {Id = a.Id, Name = a.Name}))"
                            TextProperty="Name"
                            ValueProperty="Id"
                            TValue="Guid"
                            @bind-Value="Model.TypeId"
                            style="width: 100%"
                            Placeholder="..."/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.TypeId)" />
        </Validation>
    </InputField>
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@(Error)</div>
    }
    
    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
</EditForm>

@code
{
    [Parameter] public CreateInstanceHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }

    private List<InstanceTypeViewModel> _types = new List<InstanceTypeViewModel>();
    private List<RegionViewModel> _regions = new List<RegionViewModel>();
    
    protected override async Task OnInitializedAsync()
    {
        _types = (await (new GetAllInstanceTypesRequest(RequestManager, HttpClient, new GetAllInstanceTypesHttpQuery())).Send()).Data.ToList();
        _regions = (await (new GetAllInstanceRegionsRequest(RequestManager, HttpClient, new GetAllRegionsHttpQuery()).Send())).Data.ToList();
    }

    private async void HandleValidSubmit()
    {
        await FormSubmitted.InvokeAsync();
    }
}