<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новый работник</h4>
        <div class="card-body">
        @if (!_loading)
        {
            <EditForm Model="@_model" OnValidSubmit="Create">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Фио*</label>
                    <InputText @bind-Value="_model.Name" class="form-control" />
                    <ValidationMessage For="@(() => _model.Name)" />
                </div>
                <div class="form-group">
                    <label>Эл почта</label>
                    <InputText @bind-Value="_model.Email" class="form-control" />
                    <ValidationMessage For="@(() => _model.Email)" />
                </div>
                <div class="form-group">
                    <label>Номер телефона*</label>
                    <InputText @bind-Value="_model.Phone" class="form-control" />
                    <ValidationMessage For="@(() => _model.Phone)" />
                </div>
                <div class="form-group">
                    <label>Пароль*</label>
                    <InputText @bind-Value="_model.Password" class="form-control" />
                    <ValidationMessage For="@(() => _model.Password)" />
                </div>
                <div class="form-group">
                    <label>Подтверждение пароля*</label>
                    <InputText @bind-Value="_model.PasswordConfirm" class="form-control" content="password" />
                    <ValidationMessage For="@(() => _model.PasswordConfirm)" />
                </div>
                <div class="form-group">
                    <label>Примечание</label>
                    <InputText @bind-Value="_model.Comment" class="form-control" />
                    <ValidationMessage For="@(() => _model.Comment)" />
                </div>
                <div class="form-group">
                    <label>Должность*</label>
                    <InputSelect @bind-Value="_model.RoleId" class="custom-select">
                        <option selected disabled>Choose...</option>
                        @foreach (var item in Types)
                        {
                            <option value="@item.Id">@item.Name </option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _model.RoleId)"/>
                </div>
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
                <div class="btn-group">
                    <button class="btn btn-primary">
                        Создать
                    </button>
                    <button class="btn btn-secondary"
                            @onclick="HideModalNewWorker">Закрыть
                    </button>
                </div>
            </EditForm>
        }
        </div>
    </div>
</div>