@if (this.Display)
{
    <div class="modal-background">
        <div class="modal-content card">
            <h4 class="card-header">Новая организация</h4>
            <div class="card-body">
            @if (!_loading)
            {
                <EditForm Model="@model" OnValidSubmit="Create">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label>Название сервиса</label>
                        <InputText @bind-Value="model.Name" class="form-control" />
                        <ValidationMessage For="@(() => model.Name)" />
                    </div>
                    <div class="form-group">
                        <label>Эл почта</label>
                        <InputText @bind-Value="model.Email" class="form-control" />
                        <ValidationMessage For="@(() => model.Email)" />
                    </div>
                    <div class="form-group">
                        <label>Номер телефона</label>
                        <InputText @bind-Value="model.Phone" class="form-control" />
                        <ValidationMessage For="@(() => model.Phone)" />
                    </div>
                    <div class="form-group">
                        <label>Название организации</label>
                        <InputText @bind-Value="model.RealName" class="form-control" />
                        <ValidationMessage For="@(() => model.RealName)" />
                    </div>
                    <div class="form-group">
                        <label>Описание</label>
                        <InputText @bind-Value="model.Info" class="form-control" />
                        <ValidationMessage For="@(() => model.Info)" />
                    </div>
                    <div class="form-group">
                        <label>Регион</label>
                        <InputSelect @bind-Value="model.RegionId" class="custom-select">
                            <option selected disabled>Choose...</option>
                            @foreach (var item in _regions)
                            {
                                <option value="@item.Id">@item.Name </option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => model.RegionId)"/>
                    </div>
                    <div class="form-group">
                        <label>Тип</label>
                        <InputSelect @bind-Value="model.TypeId" class="custom-select">
                            <option selected disabled>Choose...</option>
                            @foreach (var item in _types)
                            {
                                <option value="@item.Id">@item.Name </option>
                            }
                        </InputSelect>
                        <ValidationMessage For="@(() => model.TypeId)"/>
                    </div>
                    @if (!string.IsNullOrEmpty(_error))
                    {
                        <div class="alert alert-danger mt-3 mb-0">@_error</div>
                    }
                    <div>
                        <button class="btn btn-primary">
                            Создать
                        </button>
                        <button class="btn btn-secondary"
                                @onclick="Hide">Закрыть
                        </button>
                    </div>
                </EditForm>
            }
            </div>
        </div>
    </div>
}