<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новый клиент</h4>
        <div class="card-body">
            <EditForm Model="@_model" OnValidSubmit="Create">
                <div class="form-group">
                    <label>Название клиента</label>
                    <InputText @bind-Value="_model.Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Эл почта</label>
                    <InputText @bind-Value="_model.Email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Номер телефона</label>
                    <InputText @bind-Value="_model.Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Selle</label>
                    <InputNumber @bind-Value="_model.Selle" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Статус клиента</label>
                    <InputSelect @bind-Value="_model.ClientStateId" class="custom-select">
                        @if (_loading)
                        {
                            <option selected disabled>Загрузка</option>
                        }
                        else
                        {
                            <option selected disabled>Выберите статус клиента</option>
                            @foreach (var item in State)
                            {
                                <option value="@item.Id">@item.Name </option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="form-group">
                    <label>Тип клиента</label>
                    <InputSelect @bind-Value="_model.ClientTypeId" class="custom-select">
                        @if (_loading)
                        {
                            <option selected disabled>Загрузка</option>
                        }
                        else
                        {
                            <option selected disabled>Выберите тип клиента</option>
                            @foreach (var item in Types)
                            {
                                <option value="@item.Id">@item.Name </option>
                            }
                        }
                    </InputSelect>
                </div>
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
                <div  class="btn-group">
                    @if (_loading)
                    {
                        <button class="btn btn-primary" disabled>
                            Создать
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary">
                            Создать
                        </button>
                    }
                    <button class="btn btn-secondary"
                            @onclick="HideModalNewStorageItem">Закрыть
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>