<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новая организация</h4>
        <div class="card-body">
        @if (!_loading)
        {
            <EditForm Model="@_model" OnValidSubmit="Create">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Название сервиса</label>
                    <InputText @bind-Value="_model.Name" class="form-control" />
                    <ValidationMessage For="@(() => _model.Name)" />
                </div>
                <div class="form-group">
                    <label>Эл почта</label>
                    <InputText @bind-Value="_model.Email" class="form-control" />
                    <ValidationMessage For="@(() => _model.Email)" />
                </div>
                <div class="form-group">
                    <label>Номер телефона</label>
                    <InputText @bind-Value="_model.Phone" class="form-control" />
                    <ValidationMessage For="@(() => _model.Phone)" />
                </div>
                <div class="form-group">
                    <label>Название организации</label>
                    <InputText @bind-Value="_model.RealName" class="form-control" />
                    <ValidationMessage For="@(() => _model.RealName)" />
                </div>
                <div class="form-group">
                    <label>Описание</label>
                    <InputText @bind-Value="_model.Info" class="form-control" />
                    <ValidationMessage For="@(() => _model.Info)" />
                </div>
                <div class="form-group">
                    <label>Регион</label>
                    <InputSelect @bind-Value="_model.RegionId" class="custom-select">
                        <option selected disabled>Choose...</option>
                        @foreach (var item in Regions)
                        {
                            <option value="@item.Id">@item.Name </option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _model.RegionId)"/>
                </div>
                <div class="form-group">
                    <label>Тип</label>
                    <InputSelect @bind-Value="_model.TypeId" class="custom-select">
                        <option selected disabled>Choose...</option>
                        @foreach (var item in Types)
                        {
                            <option value="@item.Id">@item.Name </option>
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => _model.TypeId)"/>
                </div>
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
                <div class="btn-group">
                    <button class="btn btn-primary">
                        Создать
                    </button>
                    <button class="btn btn-secondary"
                            @onclick="HideModalNewStorageItem">Закрыть
                    </button>
                </div>
            </EditForm>
        }
        </div>
    </div>
</div>