<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новое оприходование</h4>
        <div class="card-body">
            <EditForm Model="@_model" OnValidSubmit="Create">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Номер оприходования</label>
                    <InputText @bind-Value="_model.Number" 
                                class="form-control"
                                placeholder="Введите уникальный номер оприходования" />
                </div>
                <SelectClient
                    OnClientChanged="ComingClientChanged"/>
                <SelectUnit
                    OnUnitChanged="ComingUnitChanged"/>
                <div class="form-group">
                    <label>Комментарий</label>
                    <InputText @bind-Value="_model.Comment" 
                                class="form-control"
                                placeholder="Введите коментарий к оприходованию"  />
                </div>
                <button class="btn btn-outline-primary"
                        style="width: 100%"
                        @onclick="ShowModalNewComingDetail">
                    Добавить
                </button>
                <table class="table" style="font-size: 12px">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in _details)
                    {
                        <tr>
                            <td>@item.PlaceOnStorage</td>
                            <td>@item.PlaceOnStorage</td>
                            <td>@item.Price</td>
                            <td><button class="btn btn-danger">Закрыть</button></td>
                        </tr>
                    }
                    </tbody>
                </table>
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
                <div class="btn-group">
                    @if (!_loading)
                    {
                        <button class="btn btn-primary">
                            Создать
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary" disabled>
                            Создать
                        </button>
                        
                    }
                    <button class="btn btn-secondary"
                            @onclick="HideModalNewComing">Закрыть
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@if (_isNewComingDetailDisplay)
{
    <ModalNewComingDetail
        OnAddNewComingDetail="AddComingDetail"
        OnHideModalNewComingDetail="HideModalNewComingDetail"
        UnitId="_model.UnitId"/>
}