@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@using Blazored.FluentValidation
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NotificationService NotificationService

<RadzenFieldset Text="Оприходование"
            Style="width: 100%;">
    <ul class="list-group">
        <li class="list-group-item"><b>Номер оприходования: @Move.Number</b></li>
        <li class="list-group-item"><b>Дата: @Move.Date</b></li>
        <li class="list-group-item"><b>Подразделение отправитель: @Move.FromUnit</b></li>
        <li class="list-group-item"><b>Подразделение получатель: @Move.ToUnit</b></li>
    </ul>
</RadzenFieldset>

<RadzenFieldset Text="Оприходуемые товары"
                Style="width: 60rem">
    <RadzenGrid Data="@Details"
                EmptyText="Добавте оприходуемые товары..."
                TItem="MoveDetailViewModel">
        <Columns>
            <RadzenGridColumn TItem="MoveDetailViewModel"
                              Property="StorageItem" 
                              Title="Товар" />
            <RadzenGridColumn TItem="MoveDetailViewModel" 
                              Property="FromPlaceOnStorage" 
                              Title="Место на складе отправителя" />
            <RadzenGridColumn TItem="MoveDetailViewModel"
                              Property="ToPlaceOnStorage"
                              Title="Место на складе получателя" />
            <RadzenGridColumn TItem="MoveDetailViewModel"
                              Property="Count" 
                              Title="Количество" />
            <RadzenGridColumn TItem="MoveDetailViewModel"
                              Bubble="false"
                              Sortable="false"
                              Filterable="false"
                              TextAlign="TextAlign.Center">
                <Template Context="item">
                    <a href="http://192.168.100.210:30006/StorageItems/Ticket?storageItemId=@item.StorageItemId" target="_blank">Этикетка</a>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</RadzenFieldset>

@code
{
    [Parameter] public MoveViewModel Move { get; set; }
    private List<MoveDetailViewModel> Details { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        Details = (await new HttpGetRequest<GetAllMoveDetailsSuccessHttpResponse>(HttpClient,$"{RequestManager.StorageServer}/Moves/{Move.Id}/Details").GetAsync()).Data;
    }
}