@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<EditForm Model="@Model"
          OnValidSubmit="Create">
    <ValidationSummary/>
    
    @if (!_isLoaded)
    {
        <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
    }
    else
    {
        <InputField Title="Номер перемещения*">
            <Controls>
                <RadzenTextBox Style="width: 100%;" 
                               Placeholder="Введите уникальный номер перемещения..."
                               @bind-Value="Model.Number"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => Model.Number)" />
            </Validation>
        </InputField>

        <InputField Title="Подразделение отправитель">
            <Controls>
                <RadzenDropDown Data=@(_units.Select(a => new { a.Id, Name = $"{a.Name} - {a.Address}"}))
                                TextProperty="Name" 
                                ValueProperty="Id"
                                TValue="Guid" 
                                @bind-Value="Model.FromUnitId"
                                Style="width: 100%;"
                                Placeholder="Выберите целевое подразделение..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => Model.FromUnitId)" />
            </Validation>
        </InputField>
        
        <InputField Title="Подразделение получатель">
            <Controls>
                <RadzenDropDown Data=@(_units.Select(a => new { a.Id, Name = $"{a.Name} - {a.Address}" }))
                                TextProperty="Name" 
                                ValueProperty="Id"
                                TValue="Guid" 
                                @bind-Value="Model.ToUnitId"
                                Style="width: 100%;"
                                Placeholder="Выберите целевое подразделение..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => Model.ToUnitId)" />
            </Validation>
        </InputField>

        <RadzenFieldset Text="Перемещаемые товары">
            <RadzenGrid Data="@_details"
                        EmptyText="Добавте перемещаемые товары..."
                        TItem="CreateMoveDetailViewModel">
                <Columns>
                    <RadzenGridColumn TItem="CreateMoveDetailViewModel"
                                      Property="PlaceOnStorage" 
                                      Title="Товар" />
                    <RadzenGridColumn TItem="CreateMoveDetailViewModel" 
                                      Property="FromPlaceOnStorage" 
                                      Title="Ячейка отправителя" />
                    <RadzenGridColumn TItem="CreateMoveDetailViewModel" 
                                      Property="ToPlaceOnStorage" 
                                      Title="Ячейка получателя" />
                    <RadzenGridColumn TItem="CreateMoveDetailViewModel"
                                      Property="Count"
                                      Title="Количество" />
                    <RadzenGridColumn TItem="CreateMoveDetailViewModel"
                                      Context="order"
                                      Bubble="false"
                                      TextAlign="TextAlign.Center" 
                                      Width="70px">
                        <Template Context="item">
                            <RadzenButton
                                ButtonStyle="ButtonStyle.Danger"
                                Icon="close"
                                Size="ButtonSize.Small">
                            </RadzenButton>
                        </Template>
                    </RadzenGridColumn>
                </Columns>
            </RadzenGrid>
            <RadzenButton Click=@(_ => AddDetail()) 
                          Text="Добавить"
                          ButtonStyle="ButtonStyle.Secondary"
                          Style="width: 100%" />
        </RadzenFieldset>
    }
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@Error</div>
    }
    
    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
</EditForm>

@code
{
    [Parameter] public CreateMoveHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }

    private List<UnitViewModel> _units = new();
    private List<CreateMoveDetailViewModel> _details = new();
    
    private bool _isLoaded;

    private async void Create()
    {
        Model.Details = _details.Select(a =>  new CreateMoveDetailViewModel()
        {
            NewId = a.NewId, 
            Count = a.Count, 
            FromPlaceOnStorage = a.FromPlaceOnStorage, 
            ToPlaceOnStorage = a.ToPlaceOnStorage, 
            StorageItemId = a.StorageItemId
        }).ToList();
        await FormSubmitted.InvokeAsync();
    }

    private void AddMoveDetail(CreateMoveDetailViewModel model)
    {
        _details.Add(model);
    }
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        Model.InstanceId = await SessionProvider.GetCurrentInstanceId();
        Model.FromUnitId = await SessionProvider.GetCurrentUnitId();
        _units = await LoadUnits();
        _isLoaded = true;
    }
    
    private async Task<List<UnitViewModel>> LoadUnits() =>
        (await new GetAllUnitsRequest(RequestManager, HttpClient, new GetAllUnitsHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()}).Send()).Units.ToList();
    
    private async Task AddDetail()
    {
        var param = new ModalParameters();
        param.Add("FromUnitId", Model.FromUnitId);
        param.Add("ToUnitId", Model.ToUnitId);
        var modal = Modal.Show<MovesDetailForm>($"Новая позиция к перемещению",param);
        var result = await modal.Result;
        if (result.Data is CreateMoveDetailViewModel success)
        {
            _details.Add(success);
        }
    }
}
 