@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@using Blazored.FluentValidation
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<div style="margin-top:20px">Номер оприходования:</div>
<b>@Move.Number</b>
<div style="margin-top:20px">Дата:</div>
<b>@Move.Date</b>
<div style="margin-top:20px">Подразделение отправитель:</div>
<b>@Move.FromUnit</b>
<div style="margin-top:20px">Подразделение получатель:</div>
<b>@Move.ToUnit</b>

<RadzenFieldset Text="Оприходуемые товары"
                Style="width: 60rem">
    <RadzenGrid Data="@Details"
                EmptyText="Добавте оприходуемые товары..."
                TItem="MoveDetailViewModel">
        <Columns>
            <RadzenGridColumn TItem="MoveDetailViewModel"
                              Property="StorageItem" 
                              Title="Товар" />
            <RadzenGridColumn TItem="MoveDetailViewModel" 
                              Property="FromPlaceOnStorage" 
                              Title="Место на складе отправителя" />
            <RadzenGridColumn TItem="MoveDetailViewModel"
                              Property="ToPlaceOnStorage"
                              Title="Место на складе получателя" />
            <RadzenGridColumn TItem="MoveDetailViewModel"
                              Property="Count" 
                              Title="Количество" />
        </Columns>
    </RadzenGrid>
</RadzenFieldset>

@code
{
    [Parameter] public MoveViewModel Move { get; set; }
    private List<MoveDetailViewModel> Details { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var request = new GetAllMoveDetailsHttpQuery() {MoveId = Move.Id};
        Details = (await new GetAllMoveDetailsRequest(RequestManager, HttpClient, request).Send()).Data;
    }
}