@page "/Registration"
@using Nano35.WebClient.Services
@using Nano35.HttpContext.identity
@inject IAuthService AuthService 
@inject NavigationManager NavigationManager

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        @if (_loading)
        {
            <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        }
        else
        {
            <RadzenPanel>
                <ChildContent>
                    <h1>Регистрация</h1>
                    <EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />

                        <InputField Title="Ф.И.О.">
                            <Controls>
                                <InputText @bind-Value="_model.Name" class="form-control" />
                            </Controls>
                            <Validation>
                                <ValidationMessage For="@(() => _model.Name)" />
                            </Validation>
                        </InputField>

                        <InputField Title="Номер телефона">
                            <Controls>
                                <InputText @bind-Value="_model.Phone" class="form-control" />
                            </Controls>
                            <Validation>
                                <ValidationMessage For="@(() => _model.Phone)" />
                            </Validation>
                        </InputField>

                        <InputField Title="Электронная почта">
                            <Controls>
                                <InputText @bind-Value="_model.Email" class="form-control" />
                            </Controls>
                            <Validation>
                                <ValidationMessage For="@(() => _model.Email)" />
                            </Validation>
                        </InputField>

                        <InputField Title="Пароль">
                            <Controls>
                                <InputText @bind-Value="_model.Password" class="form-control" />
                            </Controls>
                            <Validation>
                                <ValidationMessage For="@(() => _model.Password)" />
                            </Validation>
                        </InputField>

                        <InputField Title="Подтверждение пароля">
                            <Controls>
                                <InputText @bind-Value="_model.PasswordConfirm" class="form-control" />
                            </Controls>
                            <Validation>
                                <ValidationMessage For="@(() => _model.PasswordConfirm)" />
                            </Validation>
                        </InputField>
                        
                        <button class="btn btn-primary">Зарегитрироваться</button>
                        <NavLink class="btn btn-secondary" href="log-in">Авторизация</NavLink>
                        
                        @if (!string.IsNullOrEmpty(_error))
                        {
                            <div class="alert alert-danger mt-3 mb-0">@_error</div>
                        }
                    </EditForm>
                </ChildContent>
            </RadzenPanel>
        }
    </div>
</div>


@code
{
    private readonly RegisterHttpBody _model = new();
    private bool _loading = true;
    private string _error;

    protected override async Task OnInitializedAsync()
    {
        _loading = false;
    }

    private async void HandleValidSubmit()
    {
        try
        {
            await AuthService.Register(_model);
            NavigationManager.NavigateTo("/log-in");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
    }
}
