@page "/Registration"
@using Nano35.WebClient.Services
@using Nano35.HttpContext.identity
@using System.Text.RegularExpressions
@inject IAuthService _authService 
@inject NavigationManager _navigationManager

<div class="col-md-4 offset-md-4 mt-5">
    <LoadingContent IsLoaded="_isLoaded">
        <RadzenPanel>
            <ChildContent>
                <h1>Регистрация</h1>
                <EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />

                    <InputField Title="Ф.И.О.">
                        <Controls><InputText @bind-Value="_model.Name" class="form-control" /></Controls>
                        <Validation><ValidationMessage For="@(() => _model.Name)" /></Validation>
                    </InputField>

                    <InputField Title="Номер телефона">
                         <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Phone" Change=@(PhoneMask) /></Controls>
                        <Validation><ValidationMessage For="@(() => _model.Phone)" /></Validation>
                    </InputField>

                    <InputField Title="Электронная почта">
                        <Controls><InputText @bind-Value="_model.Email" class="form-control" /></Controls>
                        <Validation><ValidationMessage For="@(() => _model.Email)" /></Validation>
                    </InputField>

                    <InputField Title="Пароль">
                        <Controls><InputText @bind-Value="_model.Password" type="password" class="form-control" /></Controls>
                        <Validation><ValidationMessage For="@(() => _model.Password)" /></Validation>
                    </InputField>

                    <InputField Title="Подтверждение пароля">
                        <Controls><InputText @bind-Value="_model.PasswordConfirm" type="password" class="form-control" /></Controls>
                        <Validation><ValidationMessage For="@(() => _model.PasswordConfirm)" /></Validation>
                    </InputField>
                    
                    <RadzenButton type="submit"
                                  Text="Зарегитрироваться"
                                  ButtonStyle="ButtonStyle.Primary"/>
                    <NavLink href="log-in">
                        <RadzenButton type="button"
                                      Text="Вход"
                                      ButtonStyle="ButtonStyle.Secondary"/>
                    </NavLink>
                    
                    @if (!string.IsNullOrEmpty(_error))
                    {
                        <div class="alert alert-danger mt-3 mb-0">@_error</div>
                    }
                </EditForm>
            </ChildContent>
        </RadzenPanel>
    </LoadingContent>
</div>


@code
{
    private readonly RegisterHttpBody _model = new();
    private bool _isLoaded;
    private string _error;
    private string Phone { get ; set ; } = "+7";

    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = true;
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            await _authService.Register(_model);
            _navigationManager.NavigateTo("/log-in");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
    }
    
    private async Task PhoneMask()
    {

        Phone = Regex.Replace(Phone, @"[^\d]", "");
        
        var countryCode = "+7";
        
        if (Phone.StartsWith("7"))
            Phone = Phone.Remove(0,1);
        
        if (Phone.StartsWith("8"))
            Phone = Phone.Remove(0,1);
        
        if (Phone.Length < 10)
            Phone = Phone.PadRight(10);

        if (Phone.Length > 10)
            Phone = Phone.Substring(0, 10);

        Phone = $"{countryCode}({Phone.Substring(0, 3)}) {Phone.Substring(3, 3)}-{Phone.Substring(6, 2)}-{Phone.Substring(8, 2)}";
        
        _model.Phone = Phone;
    }
}
