@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

@if (!_isLoaded)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <div style="width: 60rem;">
        <div style="display: flex;">
            <RadzenFieldset Text="Информация"
                            Style="width: 100%;">
                <div>Менеджер: </div>
                <b>@_model.Manager</b>
                
                <div>Устройство: </div>
                <b>@_model.Device</b>
                
                <div>Неисправность со слов клиента: </div>
                <b>@_model.Trouble</b>
                
                <div>Внешний вид: </div>
                <b>@_model.Condition</b>
                
                <div>Комплектация: </div>
                <b>@_model.Complication</b>
                
                <div>Серийный номер/IMEI: </div>
                <b>@_model.Serial</b>
                
                <RadzenButton Click=@(_ => BecomeWorker())
                              Text="Стать исполнителем"
                              Style="width: 100%"
                              ButtonStyle="ButtonStyle.Primary"/>
            </RadzenFieldset>
            <RadzenFieldset Text="Состояние"
                            Style="width: 70%;">
                <ul class="list-group">
                @foreach (var state in _model.States)
                {
                    <li class="list-group-item alert alert-primary" role="alert">@($"{state.Date:dd/MM/yyyy} - {state.Comment}")</li>
                }
                    <li class="list-group-item">
                        <RadzenButton Click=@(_ => UpdateState(_model.Id))
                                      Text="Изменить"
                                      Style="width: 100%;"
                                      ButtonStyle="ButtonStyle.Info"/>
                    </li>
                </ul>
            </RadzenFieldset>
        </div>
        <RadzenFieldset Text="Работы"
                        Style="width: 100%;">
            <RadzenButton Click=@(_ => AddWork())
                          Text="Добавить работу"
                          Style="margin: 1rem 0;"
                          ButtonStyle="ButtonStyle.Primary"/>
            <RadzenGrid Data="@_works"
                                EmptyText="Нет проведенных работ..."
                                TItem="RepairOrderWorkViewModel">
                <Columns>
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel" 
                                      Property="Name" 
                                      Title="Наименование работы" />
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                      Property="Comment"
                                      Title="Комментарий" />
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                      Property="Price" 
                                      Title="Цена" />
                </Columns>
            </RadzenGrid>
        </RadzenFieldset>
    </div>
    
}
@code
{
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Guid Id { get; set; }

    private RepairOrderDetailsViewModel _model = new RepairOrderDetailsViewModel();
    private List<RepairOrderWorkViewModel> _works = new List<RepairOrderWorkViewModel>();
    private bool _isLoaded = false;
    private enum StateTypes
    {
        Created = 0,
        InWork = 1,
        Completed = 2,
        Stopped = 3,
        OnWait = 4
    }

    protected override async Task OnInitializedAsync()
    {
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
        _works = _model.Works;
        _isLoaded = true;
    }

    private async Task AddWork()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderWorkForm>($"Добавить работу", parameters);
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
        _works = _model.Works;
    }
    
    private async Task UpdateState(Guid modelId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderStateForm>($"Изменение статуса заказ наряда", parameters);
        await modal.Result;
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
    }

    private void BecomeWorker()
    {
        
    }
}
