@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@using Nano35.WebClient.Helpers
@using Nano35.HttpContext.instance
@using Nano35.Contracts.Repair.Artifacts
@using Nano35.Contracts.Repair.Models
@using Nano35.HttpContext.storage
@using Append.Blazor.Printing
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject NotificationService NotificationService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest
@inject HttpPatch PatchRequest
@inject HttpPost PostRequest
@inject IPrintingService PrintingService

<LoadingContent IsLoaded="_isLoaded">
    
    <div style="width: 60rem; height: 40rem; overflow-y: scroll;">
        @if (_states.Select(e => e.Type).Contains((int) RepairOrderStateType.Completed) &&
             !_states.Select(e => e.Type).Contains((int) RepairOrderStateType.Closed) &&
             _roles.Any(c => c == RolesHelper.Manager || c == RolesHelper.Admin))
        {
            <RadzenButton
                          Text="Закрыть заказ наряд и напечатать акт выполненых работ"
                          Style="width: 100%;"
                          ButtonStyle="ButtonStyle.Danger"/>
        }
        <div style="display: flex;">
        
            <RadzenFieldset Text="Информация"
                            Style="width: 100%;">
                <ul class="list-group">
                    <li class="list-group-item">
                        <RadzenButton Click=@(async _ => await PrintingService.Print($"https://nano35.ru/api/docs/StorageItems/RepairOrderReceipt/{Id}&{await SessionProvider.GetCurrentInstanceId()}"))
                                      Text="Акт приема"
                                      Size="ButtonSize.Small"
                                      Style="margin: 1rem 0;"
                                      ButtonStyle="ButtonStyle.Secondary"/>
                        <RadzenButton Click=@(async _ => await PrintingService.Print($"https://nano35.ru/api/docs/StorageItems/RepairOrderDetails/{Id}&{await SessionProvider.GetCurrentInstanceId()}"))
                                      Text="Акт выполненых работ"
                                      Size="ButtonSize.Small"
                                      Style="margin: 1rem 0;"
                                      ButtonStyle="ButtonStyle.Secondary"/>
                    </li>
                    <li class="list-group-item">
                        <b>Клиент: @_model.Client</b>
                    </li>
                    <li class="list-group-item">
                        <b>Менеджер: @_model.Manager</b>
                    </li>
                    <li class="list-group-item" style="width: 100%; display: flex;">
                        <b style="display: flex;  width: 85%; align-items: center">Устройство: @_model.Device</b>
                    </li>
                    <li class="list-group-item" style="width: 100%; display: flex;">
                        
                    <EditableField OnCancel="@(() => TroubleEdit = null)"
                                   OnEdit="@(() => TroubleEdit = new UpdateRepairOrdersTroubleHttpBody(){RepairOrderId = _model.Id})"
                                   OnSave="@(() => UpdateTrouble())">
                        <View><b style="display: flex;  width: 85%; align-items: center">Неисправность со слов клиента: @_model.Trouble</b></View>
                        <Edit>
                            <InputField Title="Неисправность со слов клиента:">
                                <Controls><RadzenTextBox style="display: flex;align-items: center" @bind-Value="TroubleEdit.Trouble" Placeholder="@_model.Trouble"/></Controls>
                            </InputField>
                        </Edit>
                    </EditableField>

                    </li>
                    <li class="list-group-item" style="width: 100%; display: flex;">
                        <EditableField OnCancel="@(() => ConditionEdit = null)"
                                       OnEdit="@(() => ConditionEdit = new UpdateRepairOrdersConditionHttpBody(){RepairOrderId = _model.Id})"
                                       OnSave="@(() => UpdateCondition())">
                            <View><b style="display: flex;  width: 85%; align-items: center">Внешний вид: @_model.Condition</b></View>
                            <Edit>
                                <InputField Title="Внешний вид:">
                                    <Controls><RadzenTextBox style="display: flex;align-items: center" @bind-Value="ConditionEdit.Condition" Placeholder="@_model.Condition"/></Controls>
                                </InputField>
                            </Edit>
                        </EditableField>
                    </li>
                    
                    <li class="list-group-item" style="width: 100%; display: flex;">
                        <EditableField OnCancel="@(() => ComplicationEdit = null)"
                                       OnEdit="@(() => ComplicationEdit = new UpdateRepairOrdersComplicationHttpBody() {RepairOrderId = _model.Id})"
                                       OnSave="@(() => UpdateComplication())">
                            <View><b style="display: flex;  width: 85%; align-items: center">Комплектация: @_model.Complication</b></View>
                            <Edit>
                                <InputField Title="Комплектация:">
                                    <Controls><RadzenTextBox style="display: flex;align-items: center" @bind-Value="ComplicationEdit.Complication" Placeholder="@_model.Complication"/></Controls>
                                </InputField>
                            </Edit>
                        </EditableField>
                    </li>
                
                    <li class="list-group-item" style="width: 100%; display: flex;">
                        <EditableField OnCancel="@(() => SerialEdit = null)"
                                       OnEdit="@(() => SerialEdit = new UpdateRepairOrdersSerialHttpBody() {RepairOrderId = _model.Id})"
                                       OnSave="@(() => UpdateSerial())">
                            <View>
                                <b style="display: flex;  width: 85%; align-items: center">Серийный номер/IMEI: @_model.Serial</b>
                            </View>
                            <Edit>
                                <InputField Title="Серийный номер/IMEI:">
                                    <Controls>
                                        <RadzenTextBox style="display: flex;align-items: center" @bind-Value="SerialEdit.Serial" Placeholder="@_model.Serial"/>
                                    </Controls>
                                </InputField>
                            </Edit>
                        </EditableField>
                    </li>
                    @if (_model.Performer != "")
                    {
                        <li class="list-group-item ">
                            <b>Исполнитель: @_model.Performer</b>
                        </li>
                    }
                </ul>
            </RadzenFieldset>
            <RadzenFieldset Text="Состояние"
                            Style="width: 70%;">
                <ul class="list-group">
                    <li class="list-group-item alert alert-primary">
                    @switch (_model.CurrentState)
                    {
                        case 0:
                        {
                            <RepairOrdersSetPerformer FormSubmitted="SetPerformer" Model="SetUserAsPerformerOfRepairOrderQuery"/>
                            break;
                        };
                        case 1:
                        {
                            <RadzenButton Text="На диагностике" Click="@(SetAsDiagnosted)"/>
                            break;
                        };
                        case 2:
                        {
                            <RadzenButton Text="Согласован с клиентом " Click="@(SetAsAgreement)"/>
                            break;
                        };
                        case 3:
                        {
                            <RadzenButton Text="Ожидает поставки запчастей" Click="@(SetAsOnWait)"/>
                            <RadzenButton Text="В работе" Click="@(SetAsOnWork)"/>
                            <RadzenButton Text="Готов" Click="@(SetAsReady)"/>
                            break;
                        };
                        case 4:
                        {
                            <RadzenButton Text="В работе" Click="@(SetAsOnWork)"/>
                            break;
                        };
                        case 5:
                        {
                            <RadzenButton Text="Ожидает поставки запчастей" Click="@(SetAsOnWait)"/>
                            <RadzenButton Text="Готов" Click="@(SetAsReady)"/>
                            break; 
                        };
                        case 6:
                        {
                            <RadzenButton Text="Завершен" Click="@(SetAsCompleted)"/>
                            break; 
                        };
                        case 7:
                        {
                            <RadzenButton Text="Закрыт" Click="@(SetAsClosed)"/>
                            break; 
                        };
                        case 8:
                        {
                            <RadzenButton Text="Закрыто" Click="@(SetAsClosed)"/>
                            break; 
                        };
                    }
                    </li>
                    @foreach (var state in _states)
                    {
                        <li class="list-group-item alert alert-primary">@($"{state.Date:dd/MM/yyyy} - {state.Comment}")</li>
                    }
                </ul>
            </RadzenFieldset>
        </div>
        <RadzenFieldset Text="Работы"
                        Style="width: 100%;">
            @if (!(_states.Select(e => e.Type).Contains((int) RepairOrderStateType.Completed) ||
                   _states.Select(e => e.Type).Contains((int) RepairOrderStateType.Closed)) &&
                 _roles.Any(c => c == RolesHelper.Master))
            {
                <RadzenButton Click=@(_ => AddWork())
                              Text="Добавить работу"
                              Style="margin: 1rem 0;"
                              ButtonStyle="ButtonStyle.Primary"/>
            }
            <RadzenGrid Data="@(_works)"
                        EmptyText="Нет проведенных работ..."
                        TItem="RepairOrderWorkViewModel">
                <Columns>
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                      Property="WorkName"
                                      Title="Наименование работы"/>
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                      Property="Price"
                                      Title="Цена"/>
                </Columns>
            </RadzenGrid>
        </RadzenFieldset>
        <RadzenFieldset Text="Переписка"
                        Style="width: 100%;">
        </RadzenFieldset>
    </div>
</LoadingContent>

@code
{
    
    
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Guid Id { get; set; }

    private RepairOrderViewModel _model;
    private List<RepairOrdersStateViewModel> _states = new();
    private List<RepairOrderWorkViewModel> _works = new();
    private List<ArticleViewModel> _devices { get; set; }
    private bool _isLoaded;
    
    private UpdateRepairOrdersDeviceHttpBody DeviceEdit { get; set; }
    private UpdateRepairOrdersSerialHttpBody SerialEdit { get; set; }
    private UpdateRepairOrdersConditionHttpBody ConditionEdit { get; set; }
    private UpdateRepairOrdersTroubleHttpBody TroubleEdit { get; set; }
    private UpdateRepairOrdersComplicationHttpBody ComplicationEdit { get; set; }
    
    private List<Guid> _roles = new();

    private async Task Update()
    {   
        await GetRequest.InvokeAsync<GetRepairOrderByIdHttpResponse>($"RepairOrders/{Id}",
            resp =>
            {
                if (resp.IsSuccess()) {_model = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await GetRequest.InvokeAsync<GetAllRepairOrderStatesHttpResponse>($"RepairOrders/{Id}/States",
            resp =>
            {
                if (resp.IsSuccess()) {_states = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        _states.Reverse();
        await GetRequest.InvokeAsync<GetAllRepairOrderWorksHttpResponse>($"RepairOrders/{Id}/Works",
            resp =>
            {
                if (resp.IsSuccess()) {_works = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await GetRequest.InvokeAsync<GetAllArticlesSuccessHttpResponse>($"Articles",
            resp =>
            {
                if (resp.IsSuccess()) {_devices = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        
    }

    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _roles = await AuthService.GetCurrentRoles();
        await Update();
        _isLoaded = true;
    }

    private async Task AddWork()
    {
        var modalOpts = new ModalOptions()
        {
            DisableBackgroundCancel = true, FocusFirstElement = true
        };
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderWorkForm>($"Добавить работу", parameters, modalOpts);
        await modal.Result;
        _isLoaded = false;
        await Update();
        _isLoaded = true;
    }

    private SetPerformerOfRepairOrderHttpQuery SetUserAsPerformerOfRepairOrderQuery { get; set; } = new();
    private async Task SetPerformer()
    {
        SetUserAsPerformerOfRepairOrderQuery.RepairOrderId = _model.Id;
        await PostRequest.InvokeAsync<SetPerformerOfRepairOrderHttpResponse, SetPerformerOfRepairOrderHttpQuery>($"RepairOrders/SetPerformerOfRepairOrder", SetUserAsPerformerOfRepairOrderQuery,
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        _isLoaded = false;
        await Update();
        _isLoaded = true;
    }

    private async Task UpdateDevice()
    {
        await PatchRequest.InvokeAsync<UpdateRepairOrdersDeviceHttpResponse, UpdateRepairOrdersDeviceHttpBody>($"RepairOrders/Device", DeviceEdit,
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        DeviceEdit = null;
        await Update();
    }
    private async Task UpdateSerial()
    {
        await PatchRequest.InvokeAsync<UpdateRepairOrdersSerialHttpResponse, UpdateRepairOrdersSerialHttpBody>($"RepairOrders/Serial", SerialEdit,
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        SerialEdit = null;
        await Update();
    }
    private async Task UpdateCondition()
    {
        await PatchRequest.InvokeAsync<UpdateRepairOrdersConditionHttpResponse, UpdateRepairOrdersConditionHttpBody>($"RepairOrders/Condition", ConditionEdit,
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        ConditionEdit = null;
        await Update();
    }
    private async Task UpdateTrouble()
    {
        await PatchRequest.InvokeAsync<UpdateRepairOrdersTroubleHttpResponse, UpdateRepairOrdersTroubleHttpBody>($"RepairOrders/Trouble", TroubleEdit,
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        TroubleEdit = null;
        await Update();
    }
    private async Task UpdateComplication()
    {
        await PatchRequest.InvokeAsync<UpdateRepairOrdersComplicationHttpResponse, UpdateRepairOrdersComplicationHttpBody>($"RepairOrders/Complication", ComplicationEdit,
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        ComplicationEdit = null;
        await Update();
    }

    private async Task SetAsDiagnosted()
    {
        await PostRequest.InvokeAsync<SetRepairOrderAsDiagnosedHttpResponse, SetRepairOrderAsDiagnosedHttpBody>($"RepairOrders/Diagnosed", new SetRepairOrderAsDiagnosedHttpBody(){RepairOrderId = _model.Id},
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await Update();
    }

    private async Task SetAsAgreement()
    {
        await PostRequest.InvokeAsync<SetRepairOrderAsAgreementHttpResponse, SetRepairOrderAsAgreementHttpBody>($"RepairOrders/Agreement", new SetRepairOrderAsAgreementHttpBody(){RepairOrderId = _model.Id},
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await Update();
    }
    private async Task SetAsReady()
    {
        var modal = Modal.Show<ReadyResult>($"Оплата за заказ наряд");
        var res = await modal.Result;
        await PostRequest.InvokeAsync<SetRepairOrderAsReadyHttpResponse, SetRepairOrderAsReadyHttpBody>($"RepairOrders/Ready", new SetRepairOrderAsReadyHttpBody(){RepairOrderId = _model.Id, Wage = res.Data is double data ? data : 0},
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        
        await Update();
    }
    private async Task SetAsOnWait()
    {        
        await PostRequest.InvokeAsync<SetRepairOrderAsOnWaitHttpResponse, SetRepairOrderAsOnWaitHttpBody>($"RepairOrders/OnWait", new SetRepairOrderAsOnWaitHttpBody(){RepairOrderId = _model.Id},
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await Update();
    }
    private async Task SetAsOnWork()
    {
        await PostRequest.InvokeAsync<SetRepairOrderAsOnWorkHttpResponse, SetRepairOrderAsOnWorkHttpBody>($"RepairOrders/OnWork", new SetRepairOrderAsOnWorkHttpBody(){RepairOrderId = _model.Id},
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await Update();
    }
    private async Task SetAsCompleted()
    {
        await PostRequest.InvokeAsync<SetRepairOrderAsCompletedHttpResponse, SetRepairOrderAsCompletedHttpBody>($"RepairOrders/Completed", new SetRepairOrderAsCompletedHttpBody(){RepairOrderId = _model.Id},
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await Update();
    }
    private async Task SetAsClosed()
    {
        await PostRequest.InvokeAsync<SetRepairOrderAsClosedHttpResponse, SetRepairOrderAsClosedHttpBody>($"RepairOrders/Close", new SetRepairOrderAsClosedHttpBody(){RepairOrderId = _model.Id},
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await Update();
    }
}
