@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject IRepairOrdersService RepairService
@inject ISessionProvider SessionProvider

@if (!_isLoaded)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenCard class="row">
        <div class="col-12 col-sm-6 col-md-8" style="alignment: left">
            <div class="row">
                <div>Текущее состояние @laststate</div>
                <RadzenButton Click=@(_ => UpdateState(_model.Id))
                              Text="Информация"
                              ButtonStyle="ButtonStyle.Info"/>
            </div>
            <div>Работник: @_model.Manager</div>
            <div>Устройство: @_model.Device</div>
            <div>Поломка: @_model.Trouble</div>
            <div>Состояние: @_model.Condition</div>
            <div>Комплектация: @_model.Complication</div>
            <div>Серийный номер: @_model.Serial</div>
        </div>
      <div class="col-6 col-md-4" style="alignment: right">
          @foreach (var state in _states)
          {
              <tr>
                  <div>@state.Type</div>
                  <div>@state.Date</div>
                  <div>@state.Comment</div>
                  <hr>
              </tr>
          }
      </div>
    </RadzenCard>

    
    
    }
@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public Guid Id { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }

    private RepairOrderDetailsViewModel _model = new RepairOrderDetailsViewModel();
    private List<RepairOrdersStateViewModel> _states = new List<RepairOrdersStateViewModel>();
    private bool _isLoaded = false;
    private StateTypes laststate;
    private enum StateTypes
    {
        Created = 0,
        InWork = 1,
        Completed = 2,
        Stopped = 3,
        OnWait = 4
    }

    protected override async Task OnInitializedAsync()
    {
        _model = (await (new GetRepairOrderDetailsByIdRequest(
            RequestManager, 
            HttpClient, 
            new GetRepairOrderDetailsByIdHttpBody() 
            {Id = Id
            }))
            .Send())
            .Data;

        _states = _model.States;
        var laststate = (StateTypes)_states.LastOrDefault().Type;
        _isLoaded = true;
    }

    private async Task UpdateState(Guid modelId)
    {
        var modal = Modal.Show<UpdateRepairOrderStateForm>($"Новая позиция к оприходованию");
        OnInitializedAsync();
        _model.States.Add((RepairOrdersStateViewModel)(await modal.Result).Data);
        await ModalInstance.CloseAsync();
    }
}
