@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

@if (!_isLoaded)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <div style="width: 60rem;">
        <div style="display: flex;">
            <RadzenFieldset Text="Информация"
                            Style="width: 100%;">
                <ul class="list-group">
                    <li class="list-group-item" role="alert">
                        <b>Менеджер: @_model.Manager</b>
                    </li>
                    <li class="list-group-item" role="alert">
                        <b>Устройство: @_model.Device</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Неисправность со слов клиента: @_model.Trouble</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Внешний вид: @_model.Condition</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Комплектация: @_model.Complication</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Серийный номер/IMEI: @_model.Serial</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        @if (_model.Performer == string.Empty)
                        {
                            <RadzenButton Click=@(_ => BecomeWorker())
                                          Text="Стать исполнителем"
                                          Style="width: 100%"
                                          ButtonStyle="ButtonStyle.Primary"/>
                        }
                        else
                        {
                            <b>Исполнитель: @_model.Performer</b>
                        }
                    </li>
                </ul>
            </RadzenFieldset>
            <RadzenFieldset Text="Состояние"
                            Style="width: 70%;">
                <ul class="list-group">
                @foreach (var state in _model.States)
                {
                    <li class="list-group-item alert alert-primary" role="alert">@($"{state.Date:dd/MM/yyyy} - {state.Comment}")</li>
                }
                    <li class="list-group-item">
                        <RadzenButton Click=@(_ => UpdateState(_model.Id))
                                      Text="Изменить"
                                      Style="width: 100%;"
                                      ButtonStyle="ButtonStyle.Info"/>
                    </li>
                </ul>
            </RadzenFieldset>
        </div>
        <RadzenFieldset Text="Работы"
                        Style="width: 100%;">
            <RadzenButton Click=@(_ => AddWork())
                          Text="Добавить работу"
                          Style="margin: 1rem 0;"
                          ButtonStyle="ButtonStyle.Primary"/>
            <RadzenGrid Data="@(_works)"
                                EmptyText="Нет проведенных работ..."
                                TItem="RepairOrderWorkViewModel">
                <Columns>
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel" 
                                      Property="WorkName" 
                                      Title="Наименование работы" />
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                      Property="Price" 
                                      Title="Цена" />
                </Columns>
            </RadzenGrid>
        </RadzenFieldset>
        <RadzenFieldset Text="Переписка"
                        Style="width: 100%;">
        </RadzenFieldset>
    </div>
    
}
@code
{
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Guid Id { get; set; }

    private RepairOrderDetailsViewModel _model = new();
    private List<RepairOrderWorkViewModel> _works = new();
    private bool _isLoaded = false;
    private enum StateTypes
    {
        Created = 0,
        InWork = 1,
        Completed = 2,
        Stopped = 3,
        OnWait = 4
    }

    protected override async Task OnInitializedAsync()
    {
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
        _works = _model.Works;
        _isLoaded = true;
    }

    private async Task AddWork()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderWorkForm>($"Добавить работу", parameters);
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
        _works = _model.Works;
    }
    
    private async Task UpdateState(Guid modelId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderStateForm>($"Изменение статуса заказ наряда", parameters);
        await modal.Result;
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
    }

    private async Task BecomeWorker()
    {
        await (new SetCurrentUserAsPerformerOfRepairOrderRequest(RequestManager, HttpClient,new SetCurrentUserAsPerformerOfRepairOrderQuery() { RepairOrderId = _model.Id})).Send();
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
    }
}
