@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject IRepairOrdersService RepairService
@inject ISessionProvider SessionProvider

@if (!_isLoaded)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <div style="display: flex;">
        <RadzenFieldset Text="Информация">
            <div>Работник:</div>
            <b>@_model.Manager</b>
            
            <div>Устройство:</div>
            <b>@_model.Device</b>
            
            <div>Неисправность со слов клиента:</div>
            <b>@_model.Trouble</b>
            
            <div>Внешний вид:</div>
            <b>@_model.Condition</b>
            
            <div>Комплектация:</div>
            <b>@_model.Complication</b>
            
            <div>Серийный номер/IMEI:</div>
            <b>@_model.Serial</b>
        </RadzenFieldset>
        <RadzenFieldset Text="Состояние">
            <ul class="list-group">
            @foreach (var state in _model.States)
            {
                <li class="list-group-item alert alert-primary" role="alert">@($"{state.Date:dd/MM/yyyy} - {state.Comment}")</li>
            }
                <li class="list-group-item">
                    <RadzenButton Click=@(_ => UpdateState(_model.Id))
                                  Text="Изменить"
                                  Style="width: 100%;"
                                  ButtonStyle="ButtonStyle.Info"/>
                </li>
            </ul>
        </RadzenFieldset>
    </div>
    <RadzenFieldset Text="Работы">
        123
    </RadzenFieldset>
    
}
@code
{
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Guid Id { get; set; }

    private RepairOrderDetailsViewModel _model = new RepairOrderDetailsViewModel();
    private bool _isLoaded = false;
    private enum StateTypes
    {
        Created = 0,
        InWork = 1,
        Completed = 2,
        Stopped = 3,
        OnWait = 4
    }

    protected override async Task OnInitializedAsync()
    {
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
        _isLoaded = true;
    }

    private async Task UpdateState(Guid modelId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderStateForm>($"Изменение статуса заказ наряда", parameters);
        await modal.Result;
        _isLoaded = false;
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody() { Id = Id })).Send()).Data;
        _isLoaded = true;
    }
}
