@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@using Nano35.WebClient.Helpers
@using Nano35.HttpContext.instance
@using Microsoft.AspNetCore.Components
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService

@if (!_isLoaded)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <div style="width: 60rem;">
        @if (_model.States.Select(e => e.Type).Contains((int) RepairOrderStateType.Completed) &&
             !_model.States.Select(e => e.Type).Contains((int) RepairOrderStateType.Closed) &&
             (_roles.Contains(RolesHelper.Manager) || _roles.Contains(RolesHelper.Admin)))
        {
            <RadzenButton Click=@(_ => AddWork())
                          Text="Закрыть заказ наряд и напечатать акт выполненых работ"
                          Style="width: 100%;"
                          ButtonStyle="ButtonStyle.Danger"/>
        }
        <div style="display: flex;">
            <RadzenFieldset Text="Информация"
                            Style="width: 100%;">
                <ul class="list-group">
                    <li class="list-group-item" role="alert">
                        <b>Клиент: @_model.Client</b>
                    </li>
                    <li class="list-group-item" role="alert">
                        <b>Менеджер: @_model.Manager</b>
                    </li>
                    <li class="list-group-item" role="alert">
                        <b>Устройство: @_model.Device</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Неисправность со слов клиента: @_model.Trouble</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Внешний вид: @_model.Condition</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Комплектация: @_model.Complication</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        <b>Серийный номер/IMEI: @_model.Serial</b>
                    </li>
                    <li class="list-group-item " role="alert">
                        @if (_model.Performer == string.Empty)
                        {
                            @if (_roles.Contains(RolesHelper.Master))
                            {
                                <RadzenButton Click=@(_ => BecomeWorker())
                                              Text="Стать исполнителем"
                                              Style="width: 100%"
                                              ButtonStyle="ButtonStyle.Primary"/>
                            }
                            @if (_roles.Contains(RolesHelper.Manager) || _roles.Contains(RolesHelper.Admin))
                            {
                                <RepairOrdersSetPerformer FormSubmitted="SetPerformer"/>
                            }
                        }
                        else
                        {
                            <b>Исполнитель: @_model.Performer</b>
                        }
                    </li>
                </ul>
            </RadzenFieldset>
            <RadzenFieldset Text="Состояние"
                            Style="width: 70%;">
                <ul class="list-group">
                    @foreach (var state in _model.States)
                    {
                        <li class="list-group-item alert alert-primary" role="alert">@($"{state.Date:dd/MM/yyyy} - {state.Comment}")</li>
                    }
                    @if (!(_model.States.Select(e => e.Type).Contains(2) ||
                           _model.States.Select(e => e.Type).Contains(6)))
                    {
                        <li class="list-group-item">
                            <RadzenButton Click=@(_ => UpdateState(_model.Id))
                                          Text="Изменить"
                                          Style="width: 100%;"
                                          ButtonStyle="ButtonStyle.Info"/>
                        </li>
                    }
                </ul>
            </RadzenFieldset>
        </div>
        <RadzenFieldset Text="Работы"
                        Style="width: 100%;">
            @if (!(_model.States.Select(e => e.Type).Contains((int) RepairOrderStateType.Completed) ||
                   _model.States.Select(e => e.Type).Contains((int) RepairOrderStateType.Closed)))
            {
                <RadzenButton Click=@(_ => AddWork())
                              Text="Добавить работу"
                              Style="margin: 1rem 0;"
                              ButtonStyle="ButtonStyle.Primary"/>
            }
            <RadzenGrid Data="@(_works)"
                        EmptyText="Нет проведенных работ..."
                        TItem="RepairOrderWorkViewModel">
                <Columns>
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                      Property="WorkName"
                                      Title="Наименование работы"/>
                    <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                      Property="Price"
                                      Title="Цена"/>
                </Columns>
            </RadzenGrid>
        </RadzenFieldset>
        <RadzenFieldset Text="Переписка"
                        Style="width: 100%;">
        </RadzenFieldset>
    </div>
    
}
@code
{
    
    
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Guid Id { get; set; }

    private RepairOrderDetailsViewModel _model = new RepairOrderDetailsViewModel(
        Guid.Empty,
        Guid.Empty,
        Guid.Empty,
        new DateTime(),
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        "",
        new List<RepairOrderWorkViewModel>(),
        new List<RepairOrdersStateViewModel>(),
        new List<UsesWithRepairOrderWork>()
        );
    private List<RepairOrderWorkViewModel> _works = new();
    private bool _isLoaded = false;
    private List<Guid> _roles = new();
    


    protected override async Task OnInitializedAsync()
    {
        _model = (await new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient,new GetRepairOrderDetailsByIdHttpBody { Id = Id }).Send()).Data;
        _works = _model.Works;
        _roles = (await AuthService.GetCurrentRoles()).Roles;
        _isLoaded = true;
    }

    private async Task AddWork()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderWorkForm>($"Добавить работу", parameters);
        await modal.Result;
        _model = (await new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient, new GetRepairOrderDetailsByIdHttpBody { Id = Id }).Send()).Data;
        _works = _model.Works;
    }
    
    private async Task UpdateState(Guid modelId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderStateForm>($"Изменение статуса заказ наряда", parameters);
        await modal.Result;
        _model = (await (new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient, new GetRepairOrderDetailsByIdHttpBody { Id = Id })).Send()).Data;
    }

    private async Task BecomeWorker()
    {
        await new SetCurrentUserAsPerformerOfRepairOrderRequest(RequestManager, HttpClient, new SetCurrentUserAsPerformerOfRepairOrderQuery { RepairOrderId = _model.Id }).Send();
        _model = (await new GetRepairOrderDetailsByIdRequest(RequestManager, HttpClient, new GetRepairOrderDetailsByIdHttpBody { Id = Id }).Send()).Data;
    }

    private async Task SetPerformer()
    {
        await new SetUserAsPerformerOfRepairOrderQueryRequest(RequestManager, HttpClient, new SetUserAsPerformerOfRepairOrderQuery(){}).Send();

        
    }
}
