@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@using Nano35.Contracts.Instance.Models
@using Nano35.HttpContext.instance
@using Nano35.HttpContext.storage
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NavigationManager NavigationManager
@inject HttpPost PostRequest
@inject HttpGet GetRequest

<BoxedContent Width="40">
    <LoadingContent IsLoaded="_isLoaded">
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <FluentValidationValidator/>
            <ValidationSummary/>
            <InputField Title="Клиент*">
                <Controls>
                    <div style="display: flex; width: 100%;">
                        <RadzenDropDown Data=@(_clients.Select(a => new { a.Id, Name = $"{a.Name} - {a.Phone}" }))
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        TValue="Guid"
                                        @bind-Value="Model.ClientId"
                                        Style="width: 100%;"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        FilterOperator="StringFilterOperator.Contains"
                                        AllowFiltering="true"/>
                        <RadzenButton Click=@(_ => OpenCreateClient()) Text="Добавить" ButtonStyle="ButtonStyle.Secondary"/>
                    </div>
                </Controls>
            </InputField>
            <InputField Title="Устройство*">
                <Controls>
                    <div style="display: flex; width: 100%;">
                        <RadzenDropDown Data=@(_articles.Select(a => new { a.Id, Name = $"{a.Brand} - {a.Model}" }))
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        TValue="Guid"
                                        @bind-Value="Model.DeviceId"
                                        Style="width: 100%;"
                                        FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                        FilterOperator="StringFilterOperator.Contains"
                                        AllowFiltering="true"/>
                        <RadzenButton Click=@(_ => OpenCreateArticle()) Text="Добавить" ButtonStyle="ButtonStyle.Secondary"/>
                    </div>
                </Controls>
                <Validation><ValidationMessage For="@(() => Model.DeviceId)" /></Validation>
            </InputField>
            <InputField Title="SN/IMEI">
                <Controls><RadzenTextBox style="width: 100%;" @bind-Value="Model.Serial"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.Serial)" /></Validation>
            </InputField>
            <InputField Title="Внешний вид*">
                <Controls>
                    <div style="width: 100%; display: flex;">
                        <RadzenTextBox Style="width: 100%;" @bind-Value="Model.Condition"/>
                        @if(_isCond1Shown) { <RadzenButton Text="Б/У" Click="@(_ => { Model.Condition += "Б/У"; _isCond1Shown = false; })" ButtonStyle="ButtonStyle.Secondary"/> }
                        @if(_isCond2Shown) { <RadzenButton Text="Царапины" Click="@(_ => { Model.Condition += "Царапины"; _isCond2Shown = false; })" ButtonStyle="ButtonStyle.Secondary"/> }
                        @if(_isCond3Shown) { <RadzenButton Text="Потертости" Click="@(_ => { Model.Condition += "Потертости"; _isCond3Shown = false; })" ButtonStyle="ButtonStyle.Secondary"/> }
                    </div>
                </Controls>
                <Validation><ValidationMessage For="@(() => Model.Condition)" /></Validation>
            </InputField>
            <InputField Title="Неисправность со слов клиента*">
                <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Trouble"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.Trouble)" /></Validation>
            </InputField>
            <InputField Title="Комплектация*">
                <Controls>
                    <div style="width: 100%; display: flex;">
                        <RadzenTextBox Style="width: 100%;" @bind-Value="Model.Complication"/>
                        @if(_isComplected1Shown) { <RadzenButton Text="Устройство" Click="@(_ => { Model.Complication += "Устройство"; _isComplected1Shown = false; })" ButtonStyle="ButtonStyle.Secondary"/>}
                        @if(_isComplected2Shown) { <RadzenButton Text="Блок питания" Click="@(_ => { Model.Complication += "Блок питания"; _isComplected2Shown = false; })" ButtonStyle="ButtonStyle.Secondary"/>}
                    </div>
                </Controls>
                <Validation><ValidationMessage For="@(() => Model.Complication)" /></Validation>
            </InputField>
            <ConditionalContent IsLoaded="!string.IsNullOrEmpty(Error)">
                <AllowedContent><div class="alert alert-danger mt-3 mb-0">@Error</div></AllowedContent>
            </ConditionalContent>
            <RadzenButton type="submit" Text="Создать" ButtonStyle="ButtonStyle.Primary" Style="width: 100%"/>
        </EditForm>
    </LoadingContent>
</BoxedContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    
    private CreateRepairOrderHttpBody Model = new()
    {
        NewId = Guid.NewGuid(),
        InstanceId = Guid.Empty
    };

    private bool _isCond1Shown = true;
    private bool _isCond2Shown = true;
    private bool _isCond3Shown = true;
    private bool _isComplected1Shown = true;
    private bool _isComplected2Shown = true;
    private bool _isLoaded;
    private List<ClientViewModel> _clients = new();
    private List<ArticleViewModel> _articles = new();
    
    private string Error { get; set; }
    private async Task HandleValidSubmit()
    {
        try
        {
            Model.UnitId = await SessionProvider.GetCurrentUnitId();
            await PostRequest.InvokeAsync<CreateRepairOrderHttpResponse, CreateRepairOrderHttpBody>(
                RequestManager.RepairOrdersServer, $"RepairOrders", Model,
                resp =>
                {
                    if (resp.IsSuccess()) {}
                    else
                    {
                        Console.WriteLine(resp.Error);
                        NavigationManager.NavigateTo("/instance-view");
                    }
                });
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        Model = new CreateRepairOrderHttpBody
        {
            NewId = Guid.NewGuid(),
            InstanceId = await SessionProvider.GetCurrentInstanceId(),
           
        };
        _isLoaded = false;
        Model.Condition = "";
        Model.Complication = "";
        _clients = await LoadClients();
        _articles = await LoadArticles();
        _isLoaded = true;
    }

    private async Task<List<ClientViewModel>> LoadClients()
    {
        var data = new List<ClientViewModel>();
        await GetRequest.InvokeAsync<GetAllClientsHttpResponse>(
            RequestManager.InstanceServer, $"Clients?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess())
                {
                    data = resp.Success.Data.ToList();
                }
                else
                {
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        return data;
    }
    
    private async Task<List<ArticleViewModel>> LoadArticles()
    {
        var data = new List<ArticleViewModel>();
        await GetRequest.InvokeAsync<GetAllArticlesSuccessHttpResponse>(
            RequestManager.StorageServer, $"Articles?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess())
                {
                    data = resp.Success.Data.ToList();
                }
                else
                {
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        return data;
    }

    private async Task OpenCreateClient()
    {
        var modalOpts = new ModalOptions()
        {
            DisableBackgroundCancel = true, FocusFirstElement = true
        };
        var parameters = new ModalParameters();
        var modal = Modal.Show<ClientsCreateForm>($"Новый клиент", parameters, modalOpts);
        var result = await modal.Result;
        if (result.Cancelled == false)
        {
            _isLoaded = false;
            _clients = await LoadClients();
            Model.ClientId = (Guid) result.Data;
            _isLoaded = true;
        }
    }

    private async Task OpenCreateArticle()
    {
        var modalOpts = new ModalOptions()
        {
            DisableBackgroundCancel = true, FocusFirstElement = true
        };
        var parameters = new ModalParameters();
        parameters.Add(nameof(ArticlesCreateForm.IsExpandedView), false);
        var modal = Modal.Show<ArticlesCreateForm>($"Новое устройство", parameters, modalOpts);
        var result = await modal.Result;
        if (result.Cancelled == false)
        {
            _isLoaded = false;
            _articles = await LoadArticles();
            Model.DeviceId = (Guid) result.Data;
            _isLoaded = true;
        }
    }
}