@using Nano35.WebClient.Services
@using Nano35.HttpContext.Repair
@using Nano35.WebClient.Helpers
@using Nano35.HttpContext.instance
@using System.Web.Mvc
@using Nano35.Contracts.Repair.Artifacts
@using Nano35.Contracts.Repair.Models
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService

<LoadingContent IsLoaded="_isLoaded">
    <LoadedContent>
        <div style="width: 60rem; height: 40rem; overflow-y: scroll;">
            @if (_states.Select(e => e.Type).Contains((int) RepairOrderStateType.Completed) &&
                 _roles.Any(c => c == RolesHelper.Manager || c == RolesHelper.Admin))
            {
                <RadzenButton Click=@(_ => AddWork())
                              Text="Закрыть заказ наряд и напечатать акт выполненых работ"
                              Style="width: 100%;"
                              ButtonStyle="ButtonStyle.Danger"/>
            }
            <div style="display: flex;">
                <FieldList Title="Информация">
                    <FieldListItem>Клиент: @_model.Client</FieldListItem>
                    <FieldListItem>Менеджер: @_model.Manager</FieldListItem>
                    <FieldListItem>Устройство: @_model.Device</FieldListItem>
                    <FieldListItem>Неисправность со слов клиента: @_model.Trouble</FieldListItem>
                    <FieldListItem>Внешний вид: @_model.Condition</FieldListItem>
                    <FieldListItem>Комплектация: @_model.Complication</FieldListItem>
                    <FieldListItem>Серийный номер/IMEI: @_model.Serial</FieldListItem>
                    <FieldListItem>
                            @if (_states.Select(e => e.Type).Contains((int) RepairOrderStateType.Created))
                            {
                                if (_roles.Contains(RolesHelper.Master))
                                {
                                    <RepairOrdersBecomePerformer FormSubmitted="SetPerformer" Model="SetUserAsPerformerOfRepairOrderQuery"/>
                                }
                                if (_roles.Contains(RolesHelper.Manager) || _roles.Contains(RolesHelper.Admin))
                                {
                                    <RepairOrdersSetPerformer FormSubmitted="SetPerformer" Model="SetUserAsPerformerOfRepairOrderQuery"/>
                                }
                            }
                            else
                            {
                                <b>Исполнитель: @_model.Performer</b>
                            }
                    </FieldListItem>
                </FieldList>
                <RadzenFieldset Text="Состояние"
                                Style="width: 70%;">
                    <ul class="list-group">
                        @foreach (var state in _states)
                        {
                            <li class="list-group-item alert alert-primary" role="alert">@($"{state.Date:dd/MM/yyyy} - {state.Comment}")</li>
                        }
                        @if (!(_states.Select(e => e.Type).Contains(2) ||
                               _states.Select(e => e.Type).Contains(6)))
                        {
                            <li class="list-group-item">
                                <RadzenButton Click=@(_ => UpdateState(_model.Id))
                                              Text="Изменить"
                                              Style="width: 100%;"
                                              ButtonStyle="ButtonStyle.Info"/>
                            </li>
                        }
                    </ul>
                </RadzenFieldset>
            </div>
            <RadzenFieldset Text="Работы"
                            Style="width: 100%;">
                @if (!(_states.Select(e => e.Type).Contains((int) RepairOrderStateType.Completed) ||
                       _states.Select(e => e.Type).Contains((int) RepairOrderStateType.Created) ||
                       _states.Select(e => e.Type).Contains((int) RepairOrderStateType.Closed) ||
                       _states.Select(e => e.Type).Contains((int) RepairOrderStateType.Diagnosis) ||
                       _states.Select(e => e.Type).Contains((int) RepairOrderStateType.OnWait) ||
                       _states.Select(e => e.Type).Contains((int) RepairOrderStateType.Ready)) &&
                     _roles.Any(c => c == RolesHelper.Master))
                {
                    <RadzenButton Click=@(_ => AddWork())
                                  Text="Добавить работу"
                                  Style="margin: 1rem 0;"
                                  ButtonStyle="ButtonStyle.Primary"/>
                }
                <RadzenGrid Data="@(_works)"
                            EmptyText="Нет проведенных работ..."
                            TItem="RepairOrderWorkViewModel">
                    <Columns>
                        <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                          Property="WorkName"
                                          Title="Наименование работы"/>
                        <RadzenGridColumn TItem="RepairOrderWorkViewModel"
                                          Property="Price"
                                          Title="Цена"/>
                    </Columns>
                </RadzenGrid>
            </RadzenFieldset>
            <RadzenFieldset Text="Переписка"
                            Style="width: 100%;">
            </RadzenFieldset>
        </div>
    </LoadedContent>
</LoadingContent>

@code
{
    [CascadingParameter] public BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Guid Id { get; set; }

    private RepairOrderViewModel _model;
    private List<RepairOrdersStateViewModel> _states = new();
    private List<RepairOrderWorkViewModel> _works = new();
    private bool _isLoaded;
    private List<Guid> _roles = new();

    private async Task Update()
    {        
        _model = (await new GetRepairOrderByIdRequest(RequestManager, HttpClient,new GetRepairOrderByIdHttpQuery() { Id = Id }).Send()).Data;
        _states = (await new GetRequestProvider<GetAllRepairOrderStatusesRequestContract, GetAllRepairOrderStatusesResultContract>(HttpClient, new GetAllRepairOrderStatusesRequestContract()).Ask($"{RequestManager.RepairOrdersServer}/RepairOrders/{Id}/States")).Data;
        _works = (await new GetRequestProvider<GetAllRepairOrderWorksRequestContract, GetAllRepairOrderWorksResultContract>(HttpClient, new GetAllRepairOrderWorksRequestContract()).Ask($"{RequestManager.RepairOrdersServer}/RepairOrders/{Id}/Works")).Data;
    }

    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _roles = (await AuthService.GetCurrentRoles()).Roles;
        await Update();
        _isLoaded = true;
    }

    private async Task AddWork()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderWorkForm>($"Добавить работу", parameters);
        await modal.Result;
        _isLoaded = false;
        await Update();
        _isLoaded = true;
    }
    
    private async Task UpdateState(Guid modelId)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(UpdateRepairOrderStateForm.RepairOrderId), Id);
        var modal = Modal.Show<UpdateRepairOrderStateForm>($"Изменение статуса заказ наряда", parameters);
        await modal.Result;
        _isLoaded = false;
        await Update();
        _isLoaded = true;
    }

    private SetPerformerOfRepairOrderHttpQuery SetUserAsPerformerOfRepairOrderQuery { get; set; } = new();
    private async Task SetPerformer()
    {
        SetUserAsPerformerOfRepairOrderQuery.RepairOrderId = _model.Id;
        await new SetPerformerOfRepairOrderHttpQueryRequest(RequestManager, HttpClient, SetUserAsPerformerOfRepairOrderQuery).Send();
        _isLoaded = false;
        await Update();
        _isLoaded = true;
    }
}
