@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@inject HttpClient _httpClient
@inject IRequestManager _requestManager
@inject ISessionProvider _sessionProvider

<RadzenFieldset Text="Информация"
            Style="width: 100%;">
    <ul class="list-group">
        <li class="list-group-item" role="alert">
            <b>Номер оприходования: @Selle.Number</b>
        </li>
        <li class="list-group-item" role="alert">
            <b>Дата: @Selle.Date</b>
        </li>
        <li class="list-group-item " role="alert">
            <b>Целевое подразделение: @Selle.Unit</b>
        </li>
        <li class="list-group-item " role="alert">
            <b>Поставщик: @Selle.Client</b>
        </li>
    </ul>
</RadzenFieldset>

<RadzenFieldset Text="Оприходуемые товары"
                Style="width: 60rem">
    <RadzenGrid Data="@(Details)"
                EmptyText="Добавте оприходуемые товары..."
                TItem="SelleDetailViewModel">
        <Columns>
            <RadzenGridColumn TItem="SelleDetailViewModel"
                              Property="StorageItem" 
                              Title="Товар" />
            <RadzenGridColumn TItem="SelleDetailViewModel" 
                              Property="PlaceOnStorage" 
                              Title="Место на складе" />
            <RadzenGridColumn TItem="SelleDetailViewModel"
                              Property="Count"
                              Title="Количество" />
            <RadzenGridColumn TItem="SelleDetailViewModel"
                              Property="Price" 
                              Title="Цена" />
            <RadzenGridColumn TItem="SelleDetailViewModel"
                              Bubble="false"
                              Sortable="false"
                              Filterable="false"
                              Width="250px"
                              TextAlign="TextAlign.Center">
                <Template Context="item">
                    <a href="http://192.168.100.210:30006/StorageItems/Ticket?storageItemId=@item.StorageItemId.ToString()" target="_blank">Этикетка</a>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</RadzenFieldset>

@code
{
    [Parameter] public SelleViewModel Selle { get; set; }
    private List<SelleDetailViewModel> Details { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
    }
}
