@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject HttpPost PostRequest
@inject NavigationManager NavigationManager

<div style="width: 40rem;">
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Продажа со склада">
                <SellesForm FormSubmitted="SendCreateSelleRequest" Model="_model" Error="@Error"/>
            </RadzenTabsItem>
            <RadzenTabsItem Text="Прочий приход">
                <EditForm Model="@model" OnValidSubmit="@(_ => {})">
                    <DataAnnotationsValidator />
                    <InputField Title="Наименование прочего прихода">
                        <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="model.Name"/></Controls>
                        <Validation><ValidationMessage For="@(() => model.Name)" /></Validation>
                    </InputField>
                    <InputField Title="Сумма прочего прихода">
                        <Controls>
                            <RadzenNumeric Style="width: 100%;" @bind-Value="model.Price"/>
                            <Validation><ValidationMessage For="@(() => model.Price)" /></Validation>
                        </Controls>
                    </InputField>
                    <RadzenButton type="submit" Text="Провести" ButtonStyle="ButtonStyle.Primary" Style="width: 100%" />
                </EditForm>
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

@code
{
    private class FreeSelle
    {
        public string Name { get; set; }
        public double Price { get; set; }
    }

    private FreeSelle model = new();
    private CreateSelleHttpBody _model = new() { NewId = Guid.NewGuid(), InstanceId = Guid.Empty };
    private string Error { get; set; }
    private async Task SendCreateSelleRequest()
    {
        try
        {
            await PostRequest.InvokeAsync<CreateSelleSuccessHttpResponse, CreateSelleHttpBody>(
                RequestManager.InstanceServer, $"Sells", _model,
                resp =>
                {
                    if (resp.IsSuccess()) {}
                    else
                    {
                        Console.WriteLine(resp.Error);
                        NavigationManager.NavigateTo("/instance-view");
                    }
                });
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        _model = new CreateSelleHttpBody
        {
            NewId = Guid.NewGuid(),
            InstanceId = await SessionProvider.GetCurrentInstanceId()
        };
    }
}