@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/storage"
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider

@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Наличие"/>
    
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                Data="@_data"
                TItem="StorageItemOnInstanceViewModel">
        <Template Context="item">
            <div>
                <div>
                    @item.Item.RetailPrice руб.
                </div>
                <div>
                    @item.Item.RetailPrice руб.
                </div>
            </div>
        </Template>
        <Columns>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Property="Item.Name"
                              Filterable="false"
                              Sortable="false"
                              Title="Изделие"/>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="130px"
                              Title="Цена продажи">
                <Template Context="item">
                    @item.Item.RetailPrice руб.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="130px"
                              Title="Закуп. стоимость">
                <Template Context="item">
                    @item.Item.PurchasePrice руб.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="100px"
                              Title="Наличие">
                <Template Context="item">
                    @item.Count шт.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Context="coming"
                              Bubble="false"
                              Sortable="false"
                              Filterable="false"
                              Width="200px"
                              TextAlign="TextAlign.Center">
                <Template Context="item">
                    <RadzenButton
                        ButtonStyle="ButtonStyle.Info"
                        Text="Фото"
                        Size="ButtonSize.Small"
                        Click="@(_ => { })"/>
                    <RadzenButton
                        ButtonStyle="ButtonStyle.Primary"
                        Text="Продать"
                        Size="ButtonSize.Small"
                        Click="@(_ => Sell())"/>
                    <RadzenButton
                        ButtonStyle="ButtonStyle.Secondary"
                        Text="Списать"
                        Size="ButtonSize.Small"
                        Click="@(_ => Cancellate())"/>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    private IEnumerable<StorageItemOnInstanceViewModel> _data;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {        
        _data = (await (new GetAllStorageItemsOnInstanceRequest(
            RequestManager,
            HttpClient, 
            new GetAllStorageItemsOnInstanceHttpQuery() 
            { InstanceId = await SessionProvider.GetCurrentInstanceId()})).Send()).Contains;
        _loading = false;
    }

    private void Cancellate()
    {
        Modal.Show<CancellationsCreate>("Новое списание");
    }

    private void Sell()
    {
        Modal.Show<SellesCreate>("Новая продажа");
    }
}
