@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<LoadingContent IsLoaded="_isLoaded">
    <LoadedContent>
        <FieldList Title="Информация">
            <FieldListItem Title="Артикул">
                <EditableField OnCancel="@(() => ArticleEdit = null)"
                               OnEdit="@(() => ArticleEdit = new UpdateStorageItemArticleHttpBody(){Id = StorageItem.Id})"
                               OnSave="@(() => UpdateArticle())">
                    <View>@StorageItem.Article</View>
                    <Edit>
                        <RadzenDropDown AllowClear="true"
                                        TValue="Guid"
                                        Data=@(Articles.Select(g => new {g.Id, Name = $"{g.Brand} {g.Model}"}))
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        @bind-Value="ArticleEdit.ArticleId">
                            <Template Context="data">
                                <div style="display: flex; flex-direction: row">
                                    <div style="width: 90%;">@(data.Name)</div>
                                    <RadzenButton
                                        Click="@(_ => OpenArticleDetails(data.Id, data.Name))"
                                        Size="ButtonSize.Small"
                                        Text="🖉"
                                        Style="height: 20px;
                                           display: flex;
                                           padding-left: revert;
                                           padding-right: revert;
                                           align-items: center;"/>
                                </div>
                            </Template>
                        </RadzenDropDown>
                    </Edit>
                </EditableField>
            </FieldListItem>
            
            <FieldListItem Title="Закупочная цена">
                <EditableField OnCancel="@(() => PurchasePriceEdit = null)"
                               OnEdit="@(() => PurchasePriceEdit = new UpdateStorageItemPurchasePriceHttpBody(){Id = StorageItem.Id})"
                               OnSave="@(() => UpdatePurchasePrice())">
                    <View>@StorageItem.PurchasePrice</View>
                    <Edit>
                        <RadzenNumeric style="display: flex; "
                                       @bind-Value="PurchasePriceEdit.PurchasePrice"
                                       ShowUpDown="false"
                                       Placeholder="@StorageItem.PurchasePrice.ToString()"
                                       Min="0"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
            
            <FieldListItem Title="Цена продажи">
                <EditableField OnCancel="@(() => RetailPriceEdit = null)"
                               OnEdit="@(() => RetailPriceEdit = new UpdateStorageItemRetailPriceHttpBody(){Id = StorageItem.Id})"
                               OnSave="@(() => UpdateRetailPrice())">
                    <View>@StorageItem.RetailPrice</View>
                    <Edit>
                        <RadzenNumeric style="display: flex; align-items: center"
                                       @bind-Value="RetailPriceEdit.RetailPrice"
                                       ShowUpDown="false"
                                       Placeholder="@StorageItem.RetailPrice.ToString()"
                                       Min="0"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
            
            <FieldListItem Title="Состояние">
                <EditableField OnCancel="@(() => ConditionEdit = null)"
                               OnEdit="@(() => ConditionEdit = new UpdateStorageItemConditionHttpBody(){Id = StorageItem.Id})"
                               OnSave="@(() => UpdateCondition())">
                    <View>@StorageItem.Condition</View>
                    <Edit>
                        <RadzenDropDown style="display: flex; "
                                        AllowClear="true"
                                        TValue="Guid"
                                        Data=@(Conditions.Select(g => new {Id = g.Id, Name = g.Name}))
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        @bind-Value="ConditionEdit.ConditionId"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
            
            <FieldListItem Title="Комментарий">
                <EditableField OnCancel="@(() => CommentEdit = null)"
                               OnEdit="@(() => CommentEdit = new UpdateStorageItemCommentHttpBody(){Id = StorageItem.Id})"
                               OnSave="@(() => UpdateComment())">
                    <View>@StorageItem.Comment</View>
                    <Edit>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="CommentEdit.Comment"
                                       Placeholder="@StorageItem.Comment"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
            
            <FieldListItem Title="Скрытый комментарий">
                <EditableField OnCancel="@(() => HiddenCommentEdit = null)"
                               OnEdit="@(() => HiddenCommentEdit = new UpdateStorageItemHiddenCommentHttpBody(){Id = StorageItem.Id})"
                               OnSave="@(() => UpdateHiddenComment())">
                    <View>@StorageItem.HiddenComment</View>
                    <Edit>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="HiddenCommentEdit.HiddenComment"
                                       Placeholder="@StorageItem.HiddenComment"/>
                    </Edit>
                </EditableField>
            </FieldListItem>
        </FieldList>

        <RadzenFieldset Text="Товары в наличии"
                    Style="width: 60rem">
        <RadzenGrid Data="@(Places)"
                    EmptyText="Нет занятых мест в текущем подразделении..."
                    TItem="PlaceWithStorageItemOnUnit">
            <Columns>
                <RadzenGridColumn TItem="PlaceWithStorageItemOnUnit"
                                  Property="Name"
                                  Title="Место на складе"/>
                <RadzenGridColumn TItem="PlaceWithStorageItemOnUnit"
                                  Property="Count"
                                  Title="Количество"/>
            </Columns>
        </RadzenGrid>
    </RadzenFieldset>
    </LoadedContent>
</LoadingContent>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public StorageItemOnInstanceViewModel Item { get; set; }
    private StorageItemViewModel StorageItem { get; set; } = new ();
    private List<PlaceWithStorageItemOnUnit> Places { get; set; } = new();

    private UpdateStorageItemArticleHttpBody ArticleEdit { get; set; }
    private List<ArticleViewModel> Articles { get; set; } = new();
    
    private UpdateStorageItemPurchasePriceHttpBody PurchasePriceEdit { get; set; }
    
    private UpdateStorageItemRetailPriceHttpBody RetailPriceEdit { get; set; }
    
    private UpdateStorageItemConditionHttpBody ConditionEdit { get; set; }
    private List<StorageItemConditionViewModel> Conditions { get; set; } = new();
    
    private UpdateStorageItemCommentHttpBody CommentEdit { get; set; }
    
    private UpdateStorageItemHiddenCommentHttpBody HiddenCommentEdit { get; set; }
    
    private bool _isLoaded;

    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        StorageItem = (await new GetStorageItemByIdRequest(
            RequestManager,
            HttpClient, 
            new GetStorageItemByIdHttpQuery() {Id = Item.Item.Id}
            ).Send()).Data;

        Places = (await new GetAllPlacesOfStorageItemOnUnitRequest(
            RequestManager, 
            HttpClient, 
            new GetAllPlacesOfStorageItemOnUnitHttpQuery()
            {
                StorageItemId = Item.Item.Id, 
                UnitContainsStorageItemId = await SessionProvider.GetCurrentUnitId()
            })
            .Send())
            .Contains;
        
        Conditions = (await (new GetAllStorageItemConditionsRequest(
            RequestManager,
            HttpClient,
            new GetAllStorageItemConditionsHttpQuery(){})
            .Send())).Data;
        
        Articles = (await (new GetAllArticlesRequest(
                    RequestManager,
                    HttpClient,
                    new GetAllArticlesHttpQuery()
                    {
                        InstanceId = await SessionProvider.GetCurrentInstanceId()
                    })
                    .Send())).Data;
        
        _isLoaded = true;
    }
    private async Task UpdateArticle()
    {
        await new UpdateStorageItemArticleRequest(RequestManager, HttpClient, ArticleEdit).Send();
        ArticleEdit = null;
    }

    private async Task UpdatePurchasePrice()
    {
        await new UpdateStorageItemPurchasePriceRequest(RequestManager, HttpClient, PurchasePriceEdit).Send();
        PurchasePriceEdit = null;
    }

    private async Task UpdateRetailPrice() 
    {
        await new UpdateStorageItemRetailPriceRequest(RequestManager, HttpClient, RetailPriceEdit).Send();
        RetailPriceEdit = null;
    }
    
    private async Task UpdateCondition() 
    {
        await new UpdateStorageItemConditionRequest(RequestManager, HttpClient, ConditionEdit).Send();
        ConditionEdit = null;
    }    
    private async Task UpdateComment()
    {
        await new UpdateStorageItemCommentRequest(RequestManager, HttpClient, CommentEdit).Send();
        CommentEdit = null;
    }
    
    private async Task UpdateHiddenComment()
    {
        await new UpdateStorageItemHiddenCommentRequest(RequestManager, HttpClient, HiddenCommentEdit).Send();
        HiddenCommentEdit = null;
    }

    private async Task OpenArticleDetails(Guid id, string name)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ArticleDetails.Id), id);
        var modal = Modal.Show<ArticleDetails>($"{name}", parameters);
        await modal.Result;
    }
}
