@using Nano35.WebClient.Services
@using Nano35.Contracts.Instance.Models
@using Nano35.Contexts.Http.Instance
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NavigationManager NavigationManager
@inject HttpPost PostRequest
@inject HttpGet GetRequest


<BoxedContent Width="40">
    <LoadingContent IsLoaded="_isLoading">
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
    
            <InputField Title="Название подразделения*"
                        Helper="...">
                <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Name"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.Name)" /></Validation>
            </InputField>
    
            <InputField Title="Адресс*"
                        Helper="...">
                <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Address"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.Address)" /></Validation>
            </InputField>
    
            <InputField Title="Формат работы"
                        Helper="...">
                <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.WorkingFormat"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.WorkingFormat)" /></Validation>
            </InputField>
    
            <InputField Title="Номер телефона*"
                        Helper="...">
                <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Phone"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.Phone)" /></Validation>
            </InputField>
    
            <InputField Title="Тип подразделения*"
                        Helper="...">
                <Controls>
                    <RadzenDropDown Data=@(_types.Select(a => new {Id = a.Id, Name = a.Name}))
                                    TextProperty="Name" ValueProperty="Id" TValue="Guid"
                                    @bind-Value="Model.UnitTypeId" style="width: 100%"/>
                </Controls>
                <Validation><ValidationMessage For="@(() => Model.UnitTypeId)" /></Validation>
            </InputField>
                        
            @if (!string.IsNullOrEmpty(Error))
            {
                <div class="alert alert-danger mt-3 mb-0">@Error</div>
            }
            
            <RadzenButton type="submit" Text="Создать" ButtonStyle="ButtonStyle.Primary" Style="width: 100%" />
        </EditForm>
    </LoadingContent>
</BoxedContent>

@code
{
    private CreateUnitHttpBody Model = new();
    private string Error { get; set; }
    private List<UnitTypeViewModel> _types = new();
    private bool _isLoading;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoading = false;
        await GetRequest.InvokeAsync<GetAllUnitTypesHttpResponse>(
            $"Units/Types",
            resp =>
            {
                if (resp.IsSuccess()) {_types = resp.Success.UnitTypes.ToList();}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        Model = new CreateUnitHttpBody
        {
            Id = Guid.NewGuid(),
            InstanceId = await SessionProvider.GetCurrentInstanceId()
        };
        _isLoading = true;
    }
    
    private async Task HandleValidSubmit()
    {
        _isLoading = false;
        try
        {
            await PostRequest.InvokeAsync<CreateUnitHttpResponse, CreateUnitHttpBody>($"Units", Model,
                resp =>
                {
                    if (resp.IsSuccess())
                    {
                        
                    }
                    else
                    {   
                        NavigationManager.NavigateTo("/instance-view");
                    }
                });
            _isLoading = true;
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
}
