@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.Contracts.Storage.Models
@using ArticleViewModel = Nano35.HttpContext.storage.ArticleViewModel
@using Nano35.Contracts.Storage.Artifacts
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider


@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-Secondary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <div style="width: 40rem;">
        <RadzenFieldset Text="Информация"
                    Style="width: 100%;">
    <ul class="list-group" style="width: 100%" >
    <li class="list-group-item" role="alert" style="width: 100%; display: flex;">
        @if (TypeEdit == null)
        {
            <b style="display: flex;  width: 85%; align-items: center">Тип подразделения: @Unit.UnitType</b>
                                                    
            <RadzenButton Click="@(_ => TypeEdit = new UpdateUnitsTypeHttpBody(){UnitId = Unit.Id})"
                          Text="Изменить"
                          Size="ButtonSize.Small"
                          Style="margin: 1rem 0; float: right; display: flex "
                          ButtonStyle="ButtonStyle.Secondary"/>
        }
        else
        {
            <b style="display: flex; align-items: center; width: 85%"> 
                <InputField Title="Тип подразделения:">
                    <Controls>
                        <RadzenDropDown style="display: flex; "
                                        AllowClear="true"
                                        TValue="Guid"
                                        Data=@(UnitTypes.Select(g => new {Id = g.Id, Name = g.Name}))
                                        TextProperty="Name"
                                        ValueProperty="Id"
                                        @bind-Value="TypeEdit.TypeId">
                        </RadzenDropDown>
                    </Controls>
                </InputField>
            </b>
                    
            <div style="display: flex; align-items: center">
                <RadzenButton Click="@(_ => UpdateType())"
                              Text="Обновить"
                              Size="ButtonSize.Small"
                              Style="display: flex; align-items: center;height: 40px; margin-right: 25px;"
                              ButtonStyle="ButtonStyle.Secondary"/>
                <RadzenButton Click=@(_ => TypeEdit = null)
                              ButtonStyle="ButtonStyle.Danger"
                              Icon="close"
                              Style="height: 40px; width: 40px"
                              Size="ButtonSize.Small"/>
            </div>
        }
    </li>
    <li class="list-group-item" role="alert" style="width: 100%; display: flex;">
        @if (NameEdit == null)
        {
            <b style="display: flex;  width: 85%; align-items: center">Имя подразделения: @Unit.Name</b>
                                                    
            <RadzenButton Click="@(_ => NameEdit = new UpdateUnitsNameHttpBody()
                                 {
                                     UnitId = Unit.Id
                                 })"
                          Text="Изменить"
                          Size="ButtonSize.Small"
                          Style="margin: 1rem 0; float: right; display: flex "
                          ButtonStyle="ButtonStyle.Secondary"/>
        }
        else
        {
            <b style="display: flex; align-items: center; width: 85%"> 
                <InputField Title="Имя подразделения:">
                    <Controls>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="NameEdit.Name"
                                       Placeholder="@Unit.Name"/>
                            
                            
                    </Controls>
                </InputField>
            </b>
                    
            <div style="display: flex; align-items: center">
                <RadzenButton Click="@(_ => UpdateName())"
                              Text="Обновить"
                              Size="ButtonSize.Small"
                              Style="display: flex; align-items: center;height: 40px; margin-right: 25px;"
                              ButtonStyle="ButtonStyle.Secondary"/>
                <RadzenButton Click=@(_ => NameEdit = null)
                              ButtonStyle="ButtonStyle.Danger"
                              Icon="close"
                              Style="height: 40px; width: 40px"
                              Size="ButtonSize.Small"/>
            </div>
        }
    </li>
    <li class="list-group-item" role="alert" style="width: 100%; display: flex;">
        @if (PhoneEdit == null)
        {
            <b style="display: flex;  width: 85%; align-items: center">Телефон подразделения: @Unit.Phone</b>
                                                
            <RadzenButton Click="@(_ => PhoneEdit = new UpdateUnitsPhoneHttpBody()
                                 {
                                     UnitId = Unit.Id
                                 })"
                          Text="Изменить"
                          Size="ButtonSize.Small"
                          Style="margin: 1rem 0; float: right; display: flex "
                          ButtonStyle="ButtonStyle.Secondary"/>
        }
        else
        {
            <b style="display: flex; align-items: center; width: 85%"> 
                <InputField Title="Телефон подразделения:">
                    <Controls>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="PhoneEdit.Phone"
                                       Placeholder="@Unit.Phone"/>
                    </Controls>
                </InputField>
            </b>
                
            <div style="display: flex; align-items: center">
                <RadzenButton Click="@(_ => UpdatePhone())"
                              Text="Обновить"
                              Size="ButtonSize.Small"
                              Style="display: flex; align-items: center;height: 40px; margin-right: 25px;"
                              ButtonStyle="ButtonStyle.Secondary"/>
                <RadzenButton Click=@(_ => PhoneEdit = null)
                              ButtonStyle="ButtonStyle.Danger"
                              Icon="close"
                              Style="height: 40px; width: 40px"
                              Size="ButtonSize.Small"/>
            </div>
        }
    </li>
    <li class="list-group-item" role="alert" style="width: 100%; display: flex;">
        @if (AddressEdit == null)
        {
            <b style="display: flex;  width: 85%; align-items: center">Адресс подразделения: @Unit.Address</b>
                                                
            <RadzenButton Click="@(_ => AddressEdit = new UpdateUnitsAddressHttpBody()
                                 {
                                     UnitId = Unit.Id
                                 })"
                          Text="Изменить"
                          Size="ButtonSize.Small"
                          Style="margin: 1rem 0; float: right; display: flex "
                          ButtonStyle="ButtonStyle.Secondary"/>
        }
        else
        {
            <b style="display: flex; align-items: center; width: 85%"> 
                <InputField Title="Адресс подразделения:">
                    <Controls>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="AddressEdit.Address"
                                       Placeholder="@Unit.Address"/>
                    </Controls>
                </InputField>
            </b>
                
            <div style="display: flex; align-items: center">
                <RadzenButton Click="@(_ => UpdateAddress())"
                              Text="Обновить"
                              Size="ButtonSize.Small"
                              Style="display: flex; align-items: center;height: 40px; margin-right: 25px;"
                              ButtonStyle="ButtonStyle.Secondary"/>
                <RadzenButton Click=@(_ => AddressEdit = null)
                              ButtonStyle="ButtonStyle.Danger"
                              Icon="close"
                              Style="height: 40px; width: 40px"
                              Size="ButtonSize.Small"/>
            </div>
        }
    </li>
    <li class="list-group-item" role="alert" style="width: 100%; display: flex;">
        @if (WorkingFormatEdit == null)
        {
            <b style="display: flex;  width: 85%; align-items: center">Формат работы: @Unit.WorkingFormat</b>

            <RadzenButton Click="@(_ => WorkingFormatEdit = new UpdateUnitsWorkingFormatHttpBody() { UnitId = Unit.Id })"
                          Text="Изменить"
                          Size="ButtonSize.Small"
                          Style="margin: 1rem 0; float: right; display: flex "
                          ButtonStyle="ButtonStyle.Secondary"/>
        }
        else
        {
            <b style="display: flex; align-items: center; width: 85%">
                <InputField Title="Формат работы:">
                    <Controls>
                        <RadzenTextBox style="display: flex;align-items: center"
                                       @bind-Value="WorkingFormatEdit.WorkingFormat"
                                       Placeholder="@Unit.WorkingFormat"/>
                    </Controls>
                </InputField>
            </b>

            <div style="display: flex; align-items: center">
                <RadzenButton Click="@(_ => UpdateWorkingFormat())"
                              Text="Обновить"
                              Size="ButtonSize.Small"
                              Style="display: flex; align-items: center;height: 40px; margin-right: 25px;"
                              ButtonStyle="ButtonStyle.Secondary"/>
                <RadzenButton Click=@(_ => WorkingFormatEdit = null)
                              ButtonStyle="ButtonStyle.Danger"
                              Icon="close"
                              Style="height: 40px; width: 40px"
                              Size="ButtonSize.Small"/>
            </div>
        }
    </li>
    </ul>
    </RadzenFieldset>
    </div>
}

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }

    [Parameter] public UnitViewModel Unit { get; set; }
    
    private List<UnitTypeViewModel> UnitTypes { get; set; }
    
    private UpdateUnitsNameHttpBody NameEdit { get; set; }
    private UpdateUnitsPhoneHttpBody PhoneEdit { get; set; }
    private UpdateUnitsAddressHttpBody AddressEdit { get; set; }
    private UpdateUnitsTypeHttpBody TypeEdit { get; set; }
    private UpdateUnitsWorkingFormatHttpBody WorkingFormatEdit { get; set; }
    
    
    private bool _loading = true;

    
    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        
        UnitTypes = (await new GetAllUnitTypesRequest(
            RequestManager,
            HttpClient, 
            new GetAllUnitTypesHttpQuery() {}
            ).Send()).UnitTypes.ToList(); 
        
        _loading = false;
    }


    private async Task UpdateName()
    {
        await new UpdateUnitNameRequest(RequestManager, HttpClient, NameEdit).Send();
        NameEdit = null;
    }
    private async Task UpdatePhone()
    {
        await new UpdateUnitPhoneRequest(RequestManager, HttpClient, PhoneEdit).Send();
        PhoneEdit = null;
    }
    private async Task UpdateAddress()
    {
        await new UpdateUnitAddressRequest(RequestManager, HttpClient, AddressEdit).Send();
        AddressEdit = null;
    }
    private async Task UpdateType()
    {
        await new UpdateUnitTypeRequest(RequestManager, HttpClient, TypeEdit).Send();
        TypeEdit = null;
    }
    private async Task UpdateWorkingFormat()
    {
        await new UpdateUnitWorkingFormatRequest(RequestManager, HttpClient, WorkingFormatEdit).Send();
        WorkingFormatEdit = null;
    }
    
    
    
    
}
