@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@using Nano35.Contracts.Instance.Models
@inject IRequestManager RequestManager
@inject IInstanceService InstanceService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest

<EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />

    <InputField Title="Название подразделения*">
        <Controls>
            <RadzenTextBox Style="width: 100%;" @bind-Value="Model.Name"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Name)" />
        </Validation>
    </InputField>

    <InputField Title="Адресс*">
        <Controls>
            <RadzenTextBox Style="width: 100%;" @bind-Value="Model.Address"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Address)" />
        </Validation>
    </InputField>

    <InputField Title="Формат работы">
        <Controls>
            <RadzenTextBox Style="width: 100%;" @bind-Value="Model.WorkingFormat"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.WorkingFormat)" />
        </Validation>
    </InputField>

    <InputField Title="Номер телефона*">
        <Controls>
            <RadzenTextBox Style="width: 100%;" @bind-Value="Model.Phone"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Phone)" />
        </Validation>
    </InputField>

    <InputField Title="Тип подразделения*">
        <Controls>
            <RadzenDropDown Data=@(_types.Select(a => new {Id = a.Id, Name = a.Name}))
                            TextProperty="Name"
                            ValueProperty="Id"
                            TValue="Guid"
                            @bind-Value="Model.UnitTypeId"
                            style="width: 100%"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.UnitTypeId)" />
        </Validation>
    </InputField>
                
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@Error</div>
    }
    
    <RadzenButton type="submit" Text="Создать" ButtonStyle="ButtonStyle.Primary" Style="width: 100%" />
</EditForm>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public CreateUnitHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }

    private List<UnitTypeViewModel> _types = new();
        
    protected override async Task OnInitializedAsync()
    {
        await GetRequest.InvokeAsync<GetAllUnitTypesHttpResponse>(
            RequestManager.InstanceServer, $"UnitsTypes",
            resp =>
            {
                if (resp.IsSuccess()) {_types = resp.Success.UnitTypes.ToList();}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
    }

    private async Task HandleValidSubmit()
    {
        await FormSubmitted.InvokeAsync();
        await ModalInstance.CloseAsync(ModalResult.Ok(""));
    }
}
