@using Nano35.WebClient.Services
@using Nano35.HttpContext.storage
@using Nano35.HttpContext.Repair
@using Nano35.HttpContext.instance
@using Radzen.Blazor.Rendering
@using Nano35.Contracts.Repair.Models
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NotificationService NotificationService
@inject HealthService HealthService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest
@inject HttpPost PostRequest

<LoadingContent IsLoaded="_isLoaded">
    <EditForm Model="_model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator/>
        <InputField Title="Работа">
            <Controls>
                <div style="display: flex; width: 100%;">
                    <RadzenDropDown Data=@(_works.Select(a => new {Id = a.Id, Name = a.Name}))
                                    TextProperty="Name"
                                    ValueProperty="Id"
                                    TValue="Guid"
                                    @bind-Value="_model.WorkId"
                                    Style="width: 100%;"
                                    Disabled="!_works.Any()"
                                    Placeholder="Выберите выполняемую работу..."
                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                    FilterOperator="StringFilterOperator.Contains"
                                    AllowFiltering="true"
                                    Change="@WorkChanged"/>
                    <RadzenButton Click=@(_ => NewWork())
                                  Text="Добавить"
                                  ButtonStyle="ButtonStyle.Secondary"/>
                </div>
            </Controls>
        </InputField>
        <InputField Title="">
            <Controls>
                <RadzenDropDown Data=@(_storageItems.Select(a => new {Id = a.Item.Id, Name = a.Item.Name}))
                                TextProperty="Name"
                                ValueProperty="Id"
                                TValue="Guid"
                                @bind-Value="@StorageItemId"
                                Style="width: 100%;"
                                Placeholder="Выберите используемый предмет..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"
                                Change="@StorageItemChanged"/>
            </Controls>
        </InputField>
        <InputField Title="">
            <Controls>
                <RadzenDropDown Data=@(_places.Select(a => new {Id = a.Id, Name = a.Name}))
                                TextProperty="Name"
                                ValueProperty="Name"
                                TValue="string"
                                @bind-Value="@PlaceOnStorage"
                                Style="width: 100%;"
                                Placeholder="Выберите место предмета на складе..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
            </Controls>
        </InputField>
        <InputField Title="Цена">
            <Controls>
                <RadzenNumeric ShowUpDown="false" 
                               TValue="double"
                               Placeholder="..."
                               @bind-Value="@_model.Price"/>
            </Controls>
        </InputField>
        <RadzenButton type="submit"
                      Text="Создать"
                      ButtonStyle="ButtonStyle.Primary"
                      Style="width: 100%" />
    </EditForm>
</LoadingContent>

@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [Parameter] public Guid RepairOrderId { get; set; }
    
    private bool _isLoaded;
    private CreateRepairOrderWorkHttpBody _model { get; set; } = new();
    private List<WorkViewModel>  _works { get; set; } = new();
    private List<StorageItemOnUnitViewModel> _storageItems { get; set; } = new();
    private List<PlaceWithStorageItemOnUnit> _places { get; set; } = new();
    private string PlaceOnStorage = "";
    private Guid StorageItemId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _model.NewId = Guid.NewGuid();
        _model.RepairOrderId = RepairOrderId;
        _model.UnitId = await SessionProvider.GetCurrentUnitId();
        _model.InstanceId = await SessionProvider.GetCurrentInstanceId();
        
        await GetRequest.InvokeAsync<GetAllWorksHttpResponse>($"Works?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess()) {_works = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        
        await GetRequest.InvokeAsync<GetAllStorageItemsOnUnitSuccessHttpResponse>($"Warehouse/StorageItemsOnUnit?UnitId={await SessionProvider.GetCurrentUnitId()}",
            resp =>
            {
                if (resp.IsSuccess()) {_storageItems = resp.Success.Contains;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        _isLoaded = true;
    }

    private async Task HandleValidSubmit()
    {
        Console.WriteLine(PlaceOnStorage);
        if (StorageItemId != Guid.Empty)
        {
            _model.UsesDeviceFrom = new CreateCancellationDetailViewModel()
            {
                NewId = Guid.NewGuid(),
                StorageItemId = StorageItemId,
                Count = 1,
                PlaceOnStorage = PlaceOnStorage
            };
        }
        
        await PostRequest.InvokeAsync<CreateRepairOrderWorkHttpResponse, CreateRepairOrderWorkHttpBody>($"RepairOrders/Work", _model,
            resp =>
            {
                if (resp.IsSuccess()) {}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        
        await ModalInstance.CloseAsync();
    }

    private async Task NewWork()
    {
        var modal = Modal.Show<WorkCreateForm>($"Новая работа");
        await modal.Result;
        
        await GetRequest.InvokeAsync<GetAllWorksHttpResponse>($"Works?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess()) {_works = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
    }

    private async Task WorkChanged()
    {
        _model.Price = _works.FirstOrDefault(a=> a.Id == _model.WorkId).Price;
    }
    
    private async Task StorageItemChanged()
    {
        await GetRequest.InvokeAsync<GetAllPlacesOfStorageItemOnUnitSuccessHttpResponse>($"Warehouse/PlacesOfStorageItemOnUnit?StorageItemId={StorageItemId}&UnitContainsStorageItemId={await SessionProvider.GetCurrentUnitId()}",
            resp =>
            {
                if (resp.IsSuccess()) {_places = resp.Success.Contains.ToList();}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        
        _model.Price = _works.First(a=> a.Id == _model.WorkId).Price;
        _model.Price += _storageItems.First(a => a.Item.Id == StorageItemId).Item.PurchasePrice;
    }

    
}