@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient

<EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    
    <InputField Title="Фио*">
        <Controls>
            <InputText @bind-Value="_model.Name" 
                        class="form-control"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => _model.Name)" />
        </Validation>
    </InputField>
    
    <InputField Title="Эл почта">
        <Controls>
            <InputText @bind-Value="_model.Email" 
                        class="form-control"/>
        </Controls>
        <Validation>
                    <ValidationMessage For="@(() => _model.Email)" />
        </Validation>
    </InputField>
    
    <InputField Title="Номер телефона*">
        <Controls>
            <InputText @bind-Value="_model.Phone" 
                        class="form-control"
                        MaxLenght="3"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => _model.Phone)" />
        </Validation>
    </InputField>
    
    <InputField Title="Пароль*">
        <Controls>
            <InputText @bind-Value="_model.Password" 
                        class="form-control"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => _model.Password)" />
        </Validation>
    </InputField>
    
    <InputField Title="Подтверждение пароля*">
        <Controls>
            <InputText @bind-Value="_model.PasswordConfirm" 
                        class="form-control"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => _model.PasswordConfirm)" />
        </Validation>
    </InputField>
    
    <InputField Title="Примечание">
        <Controls>
            <InputText @bind-Value="_model.Comment" 
                        class="form-control"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => _model.Comment)" />
        </Validation>
    </InputField>
    
    <InputField Title="Должность*">
        <Controls>
            <RadzenDropDown Data=@(_types.Select(a => new {Id = a.Id, Name = $"{a.Name}"}))
                            TextProperty="Name"
                            ValueProperty="Id"
                            TValue="Guid"
                            @bind-Value="_model.RoleId"
                            Style="width: 100%;"
                            Placeholder="Выберите должность..."
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            FilterOperator="StringFilterOperator.Contains"
                            AllowFiltering="true"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => _model.RoleId)" />
        </Validation>
    </InputField>
    
    @if (!string.IsNullOrEmpty(_error))
    {
        <div class="alert alert-danger mt-3 mb-0">@_error</div>
    }
    
    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
</EditForm>

@code
{
    [Inject] private IRequestManager RequestManager { get; set; }
    [Inject] private IWorkerService WorkerService { get; set; }
    [Inject] private IInstanceService InstanceService { get; set; }
    [Parameter] public EventCallback OnHideModalNewWorker { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }


    private List<WorkersRoleViewModel> _types = new List<WorkersRoleViewModel>();
    private CreateWorkerHttpBody _model = new CreateWorkerHttpBody();
    private string _error = "";
    private bool _serverAvailable = false;

    protected override async Task OnInitializedAsync()
    {
        _serverAvailable = await RequestManager.HealthCheck(RequestManager.IdentityServer);
        _types = (await WorkerService.GetAllWorkerRoles()).Data.ToList();
    }

    private async Task HandleValidSubmit()
    {
        _model.NewId = Guid.NewGuid();
        _model.InstanceId = InstanceService.GetCurrentInstance().Id;
        await new CreateWorkerRequest(RequestManager, HttpClient, _model).Send();
        await OnHideModalNewWorker.InvokeAsync();
        await ModalInstance.CloseAsync(ModalResult.Ok(""));
    }
}
