@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@using System.Text.RegularExpressions
@inject HttpClient HttpClient

<EditForm Model="@Model" OnSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    
    <InputField Title="Фио*">
        <Controls>
            <InputText @bind-Value="Model.Name" 
                        class="form-control"/>
        </Controls>
        <Validation><ValidationMessage For="@(() => Model.Name)" /></Validation>
    </InputField>
    
    <InputField Title="Эл почта">
        <Controls>
            <InputText @bind-Value="Model.Email" 
                        class="form-control"/>
        </Controls>
        <Validation><ValidationMessage For="@(() => Model.Email)" /></Validation>
    </InputField>
    
    <InputField Title="Номер телефона*">

        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           class="form-control" 
                           @bind-Value="Phone" 
                           Change=@(PhoneMask) />
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Phone)" />
        </Validation>
    </InputField>
    
    <InputField Title="Пароль*">
        <Controls>
            <InputText @bind-Value="Model.Password" 
                        class="form-control"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Password)" />
        </Validation>
    </InputField>
    
    <InputField Title="Подтверждение пароля*">
        <Controls>
            <InputText @bind-Value="Model.PasswordConfirm" 
                        class="form-control"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.PasswordConfirm)" />
        </Validation>
    </InputField>
    
    <InputField Title="Примечание">
        <Controls>
            <InputText @bind-Value="Model.Comment" 
                        class="form-control"/>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Comment)" />
        </Validation>
    </InputField>
    
    <InputField Title="Должности*">
        <Controls>
            <RadzenCheckBoxList @bind-Value=@roles TValue="Guid" Orientation="Orientation.Horizontal">
                <Items>
                    <RadzenCheckBoxListItem Text="Администратор" Value=@Roles.Admin />
                    <RadzenCheckBoxListItem Text="Кладовщик" Value=@Roles.Storage />
                    <RadzenCheckBoxListItem Text="Менеджер" Value=@Roles.Manager />
                    <RadzenCheckBoxListItem Text="Бухгалтер" Value=@Roles.Cashbox />
                    <RadzenCheckBoxListItem Text="Мастер" Value=@Roles.Master />
                </Items>
            </RadzenCheckBoxList>
        </Controls>
        <Validation>
            <ValidationMessage For="@(() => Model.Roles)"/>
        </Validation>
    </InputField>
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@Error</div>
    }
    
    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
</EditForm>

@code
{
    [Inject] private IRequestManager RequestManager { get; set; }
    [Inject] private IInstanceService InstanceService { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    
    [Parameter] public CreateWorkerHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }
    
    private IEnumerable<Guid> roles = new Guid[] {};
    private string Phone { get; set; } = "+7";

    protected override async Task OnInitializedAsync()
    {
        
    }

    private async Task HandleValidSubmit()
    {
        Model.Roles = roles.ToList();
        await FormSubmitted.InvokeAsync();
        await ModalInstance.CloseAsync(ModalResult.Ok(""));
    }
    
    
    private async Task PhoneMask()
    {

        Phone = Regex.Replace(Phone, @"[^\d]", "");
        
        var countryCode = "+7";
        
        if (Phone.StartsWith("7"))
            Phone = Phone.Remove(0,1);
        
        if (Phone.StartsWith("8"))
            Phone = Phone.Remove(0,1);
        
        Model.Phone = Phone;
        
        if (Phone.Length < 10)
            Phone = Phone.PadRight(10);

        if (Phone.Length > 10)
            Phone = Phone.Substring(0, 10);

        Phone = $"{countryCode}({Phone.Substring(0, 3)}) {Phone.Substring(3, 3)}-{Phone.Substring(6, 2)}-{Phone.Substring(8, 2)}";
    }
}
