<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <CascadingBlazoredModal>
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <p>You are not logged in.</p>
                    </NotAuthorized>
                </AuthorizeRouteView>
            </CascadingBlazoredModal>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>You are logged in.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>